@charset "UTF-8";
/* #region Import ========================== */
/* #region RESPONSIVE =========================== */
/* #endregion =================================== */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?fenyfm");
  src: url("../fonts/icomoon.eot?fenyfm#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fenyfm") format("truetype"), url("../fonts/icomoon.woff?fenyfm") format("woff"), url("../fonts/icomoon.svg?fenyfm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-gondola:before {
  content: "\e938"; }

.icon-line-facebook:before {
  content: "\e936"; }

.icon-line-twitter:before {
  content: "\e937"; }

.icon-half-star:before {
  content: "\e935"; }

.icon-youtube-logotype:before {
  content: "\e933"; }

.icon-linkedin:before {
  content: "\e934"; }

.icon-instagram:before {
  content: "\e931"; }

.icon-sports-car:before {
  content: "\e932"; }

.icon-email:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-smartphone:before {
  content: "\e902"; }

.icon-thermometer:before {
  content: "\e903"; }

.icon-mail:before {
  content: "\e904"; }

.icon-pin:before {
  content: "\e905"; }

.icon-twitter:before {
  content: "\e906"; }

.icon-clock:before {
  content: "\e907"; }

.icon-flags:before {
  content: "\e908"; }

.icon-viber:before {
  content: "\e909"; }

.icon-sleep:before {
  content: "\e90a"; }

.icon-distance:before {
  content: "\e90b"; }

.icon-location:before {
  content: "\e90c"; }

.icon-customer:before {
  content: "\e90d"; }

.icon-building:before {
  content: "\e90e"; }

.icon-bus:before {
  content: "\e90f"; }

.icon-telephone:before {
  content: "\e910"; }

.icon-telephone-bold:before {
  content: "\e911"; }

.icon-disabled-person:before {
  content: "\e912"; }

.icon-tv:before {
  content: "\e913"; }

.icon-pool:before {
  content: "\e914"; }

.icon-parking-big:before {
  content: "\e915"; }

.icon-animals:before {
  content: "\e916"; }

.icon-cool:before {
  content: "\e917"; }

.icon-flower:before {
  content: "\e918"; }

.icon-breakfast:before {
  content: "\e919"; }

.icon-vault:before {
  content: "\e91a"; }

.icon-elevator:before {
  content: "\e91b"; }

.icon-arrow-down:before {
  content: "\e91c"; }

.icon-information:before {
  content: "\e91d"; }

.icon-journey:before {
  content: "\e91e"; }

.icon-monitor:before {
  content: "\e91f"; }

.icon-parking:before {
  content: "\e920"; }

.icon-arrow-right-2:before {
  content: "\e921"; }

.icon-arrow-down-2:before {
  content: "\e922"; }

.icon-arrow-right:before {
  content: "\e923"; }

.icon-home:before {
  content: "\e924"; }

.icon-full-star:before {
  content: "\e925"; }

.icon-place:before {
  content: "\e926"; }

.icon-wallet:before {
  content: "\e927"; }

.icon-play:before {
  content: "\e928"; }

.icon-search:before {
  content: "\e929"; }

.icon-snowflake:before {
  content: "\e92a"; }

.icon-star:before {
  content: "\e92b"; }

.icon-sunbed:before {
  content: "\e92c"; }

.icon-surface1:before {
  content: "\e92d"; }

.icon-swimming-pool:before {
  content: "\e92e"; }

.icon-wifi:before {
  content: "\e92f"; }

.icon-XMLID_358:before {
  content: "\e930"; }

.icon-info {
  color: #fff;
  background-color: #DE121E;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 575.98px) {
    .icon-info {
      width: 12px;
      height: 12px; } }

/* =====================================
             UTILITY CLASESS
   ===================================== */
@media (min-width: 1200px) and (max-width: 1536.98px) {
  .container {
    max-width: 1400px; } }
@media (min-width: 1200px) and (max-width: 1280px) {
  .container {
    max-width: 1200px; } }

.main-color-text {
  color: #DE121E !important; }

.ml-15 {
  margin-left: 15px; }

.mr-15 {
  margin-right: 15px; }

.font-weight-medium {
  font-weight: 600; }

.small-text {
  font-size: .7rem !important; }
  @media (min-width: 1200px) and (max-width: 1280px) {
    .small-text {
      font-size: .6rem !important; } }

@media (max-width: 575.98px) {
  .m-mobile-none {
    margin: 0 !important; } }

.medium-text {
  font-size: 0.75rem; }
  @media (min-width: 1200px) and (max-width: 1280px) {
    .medium-text {
      font-size: .7rem; } }

.z-10 {
  z-index: 10; }

.w-fit-content {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important; }

.cursor-pointer {
  cursor: pointer; }

@media (max-width: 575.98px) {
  .mobile-hide {
    display: none !important; } }

.mobile-show {
  display: none !important; }
  @media (max-width: 575.98px) {
    .mobile-show {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; } }

.card-primary {
  background-color: #DE121E !important;
  color: #fff; }

@media (max-width: 575.98px) {
  .border-radius-mobile {
    border-radius: 4px; } }

.flex-sm-column {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row; }
  @media (max-width: 575.98px) {
    .flex-sm-column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column; } }

@media (max-width: 575.98px) {
  .align-items-sm-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; } }

.primary-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .primary-btn i {
    font-size: 0.6rem; }
  .primary-btn:hover {
    background-color: #af0e18;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .primary-btn:focus {
    outline: 0; }

.second-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem 1rem;
  color: #DE121E;
  border: 2px solid #DE121E;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .second-btn:hover {
    background-color: #DE121E;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.primary-color {
  border: 2px solid #DE121E;
  color: #DE121E; }

.second-color {
  border: 2px solid #013198;
  color: #013198; }
  .second-color:hover {
    background-color: #013198;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.primary-full {
  background-color: #DE121E !important; }

.second-full {
  background-color: #013198 !important; }

.small-btn {
  font-size: 0.6rem;
  padding: .2rem .5rem;
  background-color: #DE121E; }

.inquiry-btn {
  padding: .8rem 2rem;
  color: #fff;
  background-color: #DE121E;
  -webkit-box-shadow: 0px 10px 30px #de122033;
          box-shadow: 0px 10px 30px #de122033;
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 100; }
  @media (max-width: 575.98px) {
    .inquiry-btn {
      padding: 0.8rem 1rem; } }
  @media (min-width: 1200px) and (max-width: 1536.98px) {
    .inquiry-btn {
      font-size: .9rem; } }
  .inquiry-btn::after {
    content: 'Pošalji upit'; }
    @media (max-width: 575.98px) {
      .inquiry-btn::after {
        font-size: .8rem;
        margin-left: .3rem; } }
  .inquiry-btn:hover {
    background-color: #c6101b;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .inquiry-btn:focus {
    outline: none;
    border: none; }
  .inquiry-btn i {
    font-size: .9rem;
    margin-right: .5rem; }
    @media (max-width: 575.98px) {
      .inquiry-btn i {
        margin-right: 0rem; } }
    @media (min-width: 1200px) and (max-width: 1536.98px) {
      .inquiry-btn i {
        font-size: .8rem; } }

.viber-btn {
  position: fixed;
  bottom: 20px;
  width: 160px;
  right: 166px;
  z-index: 100; }
  .viber-btn img {
    width: 100%; }

/* #endregion Import ======================= */
/* #region Global styles =================== */
* {
  font-family: 'Open Sans', sans-serif; }

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 20px #f3f3f3;
  box-shadow: 0px 0px 20px #f3f3f3; }

a, p, span, button, tr, td, th, select, input, option, button, a, .form-control, .second-btn {
  font-size: 0.9rem; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    a, p, span, button, tr, td, th, select, input, option, button, a, .form-control, .second-btn {
      font-size: 0.7rem; } }
  @media (min-width: 1200px) and (max-width: 1536.98px) {
    a, p, span, button, tr, td, th, select, input, option, button, a, .form-control, .second-btn {
      font-size: .8rem; } }
  @media (min-width: 1200px) and (max-width: 1280px) {
    a, p, span, button, tr, td, th, select, input, option, button, a, .form-control, .second-btn {
      font-size: .7rem; } }

@media (min-width: 1200px) and (max-width: 1536.98px) {
  h1 {
    font-size: 2.3rem; } }
@media (min-width: 1200px) and (max-width: 1280px) {
  h1 {
    font-size: 2.1rem; } }

@media (min-width: 1200px) and (max-width: 1536.98px) {
  h2 {
    font-size: 1.8rem; } }
@media (min-width: 1200px) and (max-width: 1280px) {
  h2 {
    font-size: 1.6rem; } }

@media (min-width: 1200px) and (max-width: 1536.98px) {
  h3 {
    font-size: 1.4rem; } }
@media (min-width: 1200px) and (max-width: 1280px) {
  h3 {
    font-size: 1.2rem; } }

@media (min-width: 1200px) and (max-width: 1536.98px) {
  h4 {
    font-size: 1.3rem; } }
@media (min-width: 1200px) and (max-width: 1280px) {
  h4 {
    font-size: 1.1rem; } }

@media (min-width: 1200px) and (max-width: 1536.98px) {
  h5 {
    font-size: 1.05rem; } }
@media (min-width: 1200px) and (max-width: 1280px) {
  h5 {
    font-size: 0.85rem; } }

@media (min-width: 1200px) and (max-width: 1536.98px) {
  h6 {
    font-size: .8rem; } }
@media (min-width: 1200px) and (max-width: 1280px) {
  h6 {
    font-size: 0.6rem; } }

a h1, a h2, a h3, a h4, a h5, a h6, a p, a span, a div, a td, a tr, a th {
  color: #212121; }

a:hover {
  text-decoration: none;
  color: #DE121E; }

@media (max-width: 575.98px) {
  main#content {
    padding-top: 70px !important; } }

.entry-footer {
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 4px; }
  .entry-footer .svg-icon {
    margin-right: .5rem; }

.no-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px; }

/* #endregion Global styles ================ */
/* #region Animated icons ================== */
@-webkit-keyframes go-to-travel {
  0% {
    left: -20px; }
  100% {
    left: 50px; } }
@keyframes go-to-travel {
  0% {
    left: -20px; }
  100% {
    left: 50px; } }
.airport {
  width: 40px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden; }
  .airport i {
    position: absolute;
    -webkit-animation: go-to-travel ease-in-out infinite;
            animation: go-to-travel ease-in-out infinite;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }

/* #endregion Animated icons =============== */
/* #region Global elements ================= */
/* #region Main navigation */
#masthead {
  padding: .5rem; }

@media (min-width: 1200px) and (max-width: 1280px) {
  .ubermenu .ubermenu-target {
    padding-left: 0px !important; } }

@media (max-width: 575.98px) {
  .ubermenu-responsive-toggle {
    display: none !important; } }

/* #endregion Main navigation */
/* #region Mobile navigation */
#nav-icon {
  position: fixed;
  z-index: 1000;
  padding: 1rem;
  right: 10px;
  top: 7px;
  font-size: 1.3rem;
  display: none; }
  @media (max-width: 575.98px) {
    #nav-icon {
      display: block; } }

.mm-spn.mm-spn--navbar:after {
  z-index: 200; }

/* #endregion Mobile navigation */
/* #region Secondary navigation */
.second-menu-bg {
  background-color: #013198;
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 100; }
  @media (min-width: 1200px) and (max-width: 1280px) {
    .second-menu-bg {
      top: 65px; } }
  @media (max-width: 575.98px) {
    .second-menu-bg {
      display: none; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .second-menu-bg {
      top: 69px; } }
  .second-menu-bg.scroll-bottom {
    -webkit-transition: all .5s;
    transition: all .5s; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .second-menu-bg.scroll-bottom {
        top: 69px; } }
  .second-menu-bg.scroll-top {
    -webkit-transition: all .5s;
    transition: all .5s;
    top: 0; }

#menu-sekundarni-meni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0; }
  #menu-sekundarni-meni li {
    padding: .5rem 1.2rem; }
    @media (min-width: 1200px) and (max-width: 1280px) {
      #menu-sekundarni-meni li {
        padding: .35 1.2rem; } }
    #menu-sekundarni-meni li:hover {
      background-color: #012165; }
    #menu-sekundarni-meni li a {
      color: #fff; }

/* #endregion Secondary navigation */
/* #region Mobile filters */
.focus-dark-bg-filters {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: none;
  cursor: pointer; }

#mobFilterButton {
  cursor: pointer;
  position: fixed;
  top: 40vh;
  right: 0;
  width: 60px;
  height: 60px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DE121E;
  z-index: 1000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: all .4s;
  transition: all .4s; }
  @media (max-width: 575.98px) {
    #mobFilterButton {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 40px;
      height: 40px;
      top: 27vh; } }
  #mobFilterButton i {
    color: #fff;
    font-size: 2rem; }
    @media (max-width: 575.98px) {
      #mobFilterButton i {
        font-size: 1.2rem; } }
  #mobFilterButton.move-left {
    right: 350px;
    -webkit-transition: all .7s;
    transition: all .7s; }
    @media (max-width: 575.98px) {
      #mobFilterButton.move-left {
        right: 88vw; } }

.mob-filter-card {
  padding: 2rem;
  width: 350px;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  right: -1000px;
  top: 0;
  background-color: #fff;
  -webkit-transition: all .6s;
  transition: all .6s; }
  @media (max-width: 575.98px) {
    .mob-filter-card {
      width: 88vw; } }
  .mob-filter-card h2 {
    text-transform: uppercase;
    color: #DE121E; }
  .mob-filter-card iframe {
    width: 100%; }
    @media (max-width: 575.98px) {
      .mob-filter-card iframe {
        height: 40vh; } }
    @media (min-width: 1200px) and (max-width: 1536.98px) {
      .mob-filter-card iframe {
        height: 40vh; } }
    @media (min-width: 1200px) and (max-width: 1280px) {
      .mob-filter-card iframe {
        height: 27vh; } }
  .mob-filter-card .info {
    margin-top: 2.5rem; }
    .mob-filter-card .info span {
      margin-bottom: .8rem; }
    .mob-filter-card .info i {
      color: #DE121E;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      margin-right: 1.2rem; }
      @media (min-width: 1200px) and (max-width: 1536.98px) {
        .mob-filter-card .info i {
          font-size: .9rem; } }
  .mob-filter-card.contact-card-show {
    right: 0;
    -webkit-transition: all .6s;
    transition: all .6s; }

/* #endregion Mobile filters */
/* #region Contact sidebar */
.focus-dark-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: none;
  cursor: pointer; }

#contactSidebarButton {
  cursor: pointer;
  position: fixed;
  top: 30vh;
  right: 0;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DE121E;
  z-index: 1000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: all .4s;
  transition: all .4s; }
  @media (max-width: 575.98px) {
    #contactSidebarButton {
      width: 40px;
      height: 40px;
      top: 20vh; } }
  #contactSidebarButton i {
    color: #fff;
    font-size: 2rem; }
    @media (max-width: 575.98px) {
      #contactSidebarButton i {
        font-size: 1.2rem; } }
  #contactSidebarButton.move-left {
    right: 350px;
    -webkit-transition: all .7s;
    transition: all .7s; }
    @media (max-width: 575.98px) {
      #contactSidebarButton.move-left {
        right: 88vw; } }

.contact-card {
  padding: 2rem;
  width: 350px;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  right: -1000px;
  top: 0;
  background-color: #fff;
  -webkit-transition: all .6s;
  transition: all .6s; }
  @media (max-width: 575.98px) {
    .contact-card {
      width: 88vw; } }
  .contact-card h2 {
    text-transform: uppercase;
    color: #DE121E; }
  .contact-card iframe {
    width: 100%; }
    @media (max-width: 575.98px) {
      .contact-card iframe {
        height: 40vh; } }
    @media (min-width: 1200px) and (max-width: 1536.98px) {
      .contact-card iframe {
        height: 40vh; } }
    @media (min-width: 1200px) and (max-width: 1280px) {
      .contact-card iframe {
        height: 27vh; } }
  .contact-card .info {
    margin-top: 2.5rem; }
    .contact-card .info span {
      margin-bottom: .8rem; }
    .contact-card .info i {
      color: #DE121E;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      margin-right: 1.2rem; }
      @media (min-width: 1200px) and (max-width: 1536.98px) {
        .contact-card .info i {
          font-size: .9rem; } }
  .contact-card.contact-card-show {
    right: 0;
    -webkit-transition: all .6s;
    transition: all .6s; }

/* #endregion Contact sidebar */
/* #region Footer */
footer {
  background-color: #F2F2F2; }
  footer i[class^="icon-"] {
    color: #DE121E;
    font-size: 1.25rem;
    -webkit-transition: all .3s;
    transition: all .3s; }
    footer i[class^="icon-"]:hover {
      color: #c6101b;
      -webkit-transition: all .3s;
      transition: all .3s; }
  footer #menu-gradovi-evrope {
    -webkit-columns: 2;
            columns: 2; }
  footer .footer-section-title {
    text-transform: uppercase; }
  footer .footer-content {
    padding-top: 40px; }
    @media (max-width: 575.98px) {
      footer .footer-content {
        padding-top: 30px;
        padding-bottom: 20px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      footer .footer-content {
        padding-top: 40px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      footer .footer-content {
        padding-top: 40px; } }
  footer h4 {
    text-transform: uppercase; }
  footer p {
    color: #666666; }
  footer a {
    color: #666666;
    -webkit-transition: all .3s;
    transition: all .3s; }
    footer a:hover {
      text-decoration: none;
      color: #013198;
      font-weight: 600;
      -webkit-transition: all .3s;
      transition: all .3s; }

/* #endregion Footer */
/* #region Snow overlay */
#particles-js {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  pointer-events: none; }

pre {
  margin-bottom: 0; }

.santa-hat {
  position: absolute;
  top: -113px;
  left: -60px;
  z-index: 100; }

/* #endregion Snow overlay */
/* #endregion Global elements ============== */
/* #region Homepage ======================== */
/* #region Page backgrounds */
.top-background {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px; }
  @media (max-width: 575.98px) {
    .top-background {
      background-image: none !important;
      padding-top: 50px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .top-background {
      padding-top: 180px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .top-background {
      padding-top: 180px; } }

.middle-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0px; }
  @media (max-width: 575.98px) {
    .middle-background {
      background-image: none !important; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .middle-background {
      padding: 0px; } }

.bottom-background {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0px; }
  @media (max-width: 575.98px) {
    .bottom-background {
      background-image: none !important; } }

/* #endregion Page backgrounds */
/* #region Hero slider */
.slider {
  position: relative; }
  .slider .content {
    padding: 0px; }

.content {
  text-align: unset; }

.main-home-slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main-home-slider .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid #DE121E !important;
    margin-right: .3rem; }
    .main-home-slider .owl-dots .owl-dot:last-child {
      margin-right: 0; }
    .main-home-slider .owl-dots .owl-dot.active {
      background-color: #DE121E; }
.main-home-slider .temp-bg {
  background-image: url("../img/placeholders/right.png"); }
.main-home-slider .slider-item {
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 575.98px) {
    .main-home-slider .slider-item {
      height: 190px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .main-home-slider .slider-item {
      height: 45vh; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .main-home-slider .slider-item {
      height: 40vh; } }
  .main-home-slider .slider-item h2 span {
    font-size: 4rem; }
    @media (min-width: 1200px) and (max-width: 1280px) {
      .main-home-slider .slider-item h2 span {
        font-size: 3rem; } }
.main-home-slider .all-items {
  display: none; }
  @media (max-width: 575.98px) {
    .main-home-slider .all-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      margin-top: -18px; } }
.main-home-slider .primary-btn {
  font-size: 0.7rem;
  padding: .7rem 2rem; }
  @media (max-width: 575.98px) {
    .main-home-slider .primary-btn {
      display: none; } }
.main-home-slider .subtitle {
  font-weight: 600;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #DE121E;
  padding: .3rem .5rem;
  font-weight: 600; }
.main-home-slider p {
  color: #fff;
  font-weight: 600; }
  @media (max-width: 575.98px) {
    .main-home-slider p {
      color: #212121;
      text-align: center; } }
.main-home-slider .content h1, .main-home-slider .content h2, .main-home-slider .content h3, .main-home-slider .content h4, .main-home-slider .content h5, .main-home-slider .content h6 {
  color: #fff;
  margin-bottom: 0px; }
  @media (max-width: 575.98px) {
    .main-home-slider .content h1, .main-home-slider .content h2, .main-home-slider .content h3, .main-home-slider .content h4, .main-home-slider .content h5, .main-home-slider .content h6 {
      color: #212121;
      text-align: center; } }
.main-home-slider .content h2 {
  font-size: 4rem;
  font-weight: 700; }
  @media (max-width: 575.98px) {
    .main-home-slider .content h2 {
      font-size: 2rem;
      text-align: center; } }

/* #endregion Hero slider*/
/* #region Filters */
.filter-box {
  width: 70%;
  position: absolute;
  bottom: -95px;
  z-index: 10;
  background-color: #fff; }
  @media (min-width: 1200px) and (max-width: 1280px) {
    .filter-box {
      padding: 20px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .filter-box {
      width: 90%;
      bottom: -125px !important; } }
  @media (max-width: 575.98px) {
    .filter-box {
      display: none; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .filter-box {
      width: 90%; } }
  .filter-box label i {
    color: #DE121E;
    font-weight: 700; }
  .filter-box .select-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .filter-box .select-container select {
      padding-left: 2rem;
      border: none;
      border-bottom: 1px solid #EEEEEE; }
    .filter-box .select-container i {
      position: absolute;
      left: .7rem;
      color: #DE121E; }

.filter-box-side {
  position: relative;
  bottom: unset;
  width: 100%; }
  @media (max-width: 575.98px) {
    .filter-box-side {
      display: block; } }
  .filter-box-side .checkbox-filter {
    width: 30%;
    margin-bottom: .4rem; }
    .filter-box-side .checkbox-filter label {
      margin: 0px; }

@media (max-width: 575.98px) {
  .mob-filter-checkbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: .5rem; }
    .mob-filter-checkbox .checkbox-filter {
      width: 49% !important;
      margin-bottom: .4rem; }
    .mob-filter-checkbox label {
      margin-bottom: 0; }
    .mob-filter-checkbox i {
      font-size: 1rem; } }
.filter-box-side .mob-filter-checkbox {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .5rem; }
  .filter-box-side .mob-filter-checkbox .checkbox-filter {
    width: 49% !important;
    margin-bottom: .4rem; }
  .filter-box-side .mob-filter-checkbox label {
    margin-bottom: 0; }
  .filter-box-side .mob-filter-checkbox i {
    font-size: 1rem; }

.mob-filter-card .filter-box {
  width: 100%;
  position: unset;
  bottom: 0;
  display: block;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .mob-filter-card .filter-box .primary-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mob-filter-card .filter-box .primary-btn i {
      color: #fff; }

/* #endregion Filters */
/* #region Tabs  */
.homepage-tabs .custom-pr {
  padding-right: 40px; }
  @media (max-width: 575.98px) {
    .homepage-tabs .custom-pr {
      padding-right: 15px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .homepage-tabs .custom-pr {
      padding-right: 15px !important; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .homepage-tabs .custom-pr {
      padding-right: 15px; } }
.homepage-tabs .tab-content {
  padding: 1rem; }
.homepage-tabs .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.homepage-tabs .owl-carousel button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 110px;
  border: 1px solid #013198;
  margin: .1rem .2rem; }
  .homepage-tabs .owl-carousel button.owl-dot:focus {
    outline: none; }
  .homepage-tabs .owl-carousel button.owl-dot.active {
    background-color: #013198; }

@media (max-width: 575.98px) {
  .home-tabs-wrapper {
    margin-bottom: 45px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .home-tabs-wrapper {
    margin-bottom: 40px; } }
.home-tabs-wrapper .tabs-section-title {
  text-transform: uppercase; }
.home-tabs-wrapper #pills-tab {
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #DE121E; }
  @media (max-width: 575.98px) {
    .home-tabs-wrapper #pills-tab {
      border: none; } }
.home-tabs-wrapper .nav.nav-pills {
  padding: 0px; }
  .home-tabs-wrapper .nav.nav-pills .nav-link {
    border-radius: 0px;
    color: #212121;
    padding: .6rem 2.5rem;
    text-transform: uppercase;
    font-weight: bold; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .home-tabs-wrapper .nav.nav-pills .nav-link {
        padding: .6rem 2rem; } }
    @media (max-width: 575.98px) {
      .home-tabs-wrapper .nav.nav-pills .nav-link {
        font-size: .7rem;
        padding: .3rem;
        border: 2px solid #DE121E;
        border-radius: 4px;
        color: #DE121E;
        background-color: transparent;
        margin-right: .3rem; } }
    .home-tabs-wrapper .nav.nav-pills .nav-link.active {
      background-color: #DE121E;
      color: #fff; }
.home-tabs-wrapper .object-fit-center {
  -webkit-transition: all .3s;
  transition: all .3s; }
.home-tabs-wrapper .ponuda-img-wrapper {
  height: 240px !important; }
  @media (min-width: 1200px) and (max-width: 1280px) {
    .home-tabs-wrapper .ponuda-img-wrapper {
      height: 170px !important; } }
.home-tabs-wrapper .ponuda-img-wrapper:hover .object-fit-center {
  height: 120%;
  -webkit-transition: all .3s;
  transition: all .3s; }
.home-tabs-wrapper .single-destinacija-tab figure {
  height: 200px;
  overflow: hidden; }
@media (max-width: 575.98px) {
  .home-tabs-wrapper .destinacije-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    overflow: scroll; } }
@media (max-width: 575.98px) {
  .home-tabs-wrapper .destinacije-tab .hover1 {
    min-width: 200px;
    width: 200px;
    padding-right: 0; }
    .home-tabs-wrapper .destinacije-tab .hover1:last-child {
      padding-right: 15px; } }
.home-tabs-wrapper .destinacije-tab span.ponuda-badge {
  left: 10px;
  right: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #DE121E;
  background-color: #fff;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.24); }
.home-tabs-wrapper .destinacije-tab span.ponuda-promo-text {
  background: transparent;
  color: #fff;
  font-size: 1.2rem; }
  .home-tabs-wrapper .destinacije-tab span.ponuda-promo-text a {
    color: #fff;
    font-size: 1.2rem; }
.home-tabs-wrapper .destinacije-tab span.ponuda-badge.angle-bg {
  background-color: #DE121E;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 70px !important;
  height: 70px !important;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
          clip-path: polygon(0 0, 0% 100%, 100% 0);
  top: 0;
  left: 0; }
.home-tabs-wrapper .destinacije-tab span.ponuda-badge.angle-text {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -23px;
  top: 17px;
  width: 100px;
  text-align: center; }
.home-tabs-wrapper .black-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), color-stop(60%, rgba(253, 187, 90, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(253, 187, 90, 0) 60%); }

/* #endregion Tabs  */
/* #region Side card */
.side-card-map iframe {
  width: 100%; }

.side-card {
  width: 100% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px #f3f3f3;
          box-shadow: 0px 0px 20px #f3f3f3; }
  @media (max-width: 575.98px) {
    .side-card {
      margin-top: 2rem; } }
  .side-card .title h5 {
    width: 100% !important;
    padding: .7rem;
    background-color: #013198;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: center; }
  .side-card .items .single-item {
    padding: .5rem 1rem; }
    .side-card .items .single-item h6 {
      margin-bottom: 0; }
    .side-card .items .single-item:hover {
      background-color: #f7f7f7; }
    .side-card .items .single-item .badge {
      background-color: #DE121E;
      color: #fff;
      text-transform: uppercase;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding: .3rem;
      border-radius: 4px;
      font-size: .6rem !important; }
      @media (min-width: 1200px) and (max-width: 1280px) {
        .side-card .items .single-item .badge {
          font-size: .3rem !important; } }
    .side-card .items .single-item .small-text {
      font-size: .7rem; }

.side-card-special {
  background-color: #013198;
  position: relative; }
  .side-card-special #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .side-card-special .title h5 {
    background-color: #01297f;
    color: #fff; }
  .side-card-special .items .single-item {
    padding: .5rem 1rem;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .side-card-special .items .single-item h6, .side-card-special .items .single-item span {
      color: #fff; }
    .side-card-special .items .single-item h6 {
      margin-bottom: 0; }
    .side-card-special .items .single-item:hover {
      background-color: #01297f;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .side-card-special .items .single-item .badge {
      background-color: #DE121E;
      color: #fff;
      padding: .3rem; }
      @media (min-width: 1200px) and (max-width: 1280px) {
        .side-card-special .items .single-item .badge {
          font-size: .3rem !important; } }
    .side-card-special .items .single-item .small-text {
      font-size: .7rem; }
    .side-card-special .items .single-item .second-btn {
      background-color: #DE121E;
      color: #fff; }

.side-card-special-avio {
  background-color: #DE121E; }
  .side-card-special-avio .title h5 {
    background-color: #c6101b;
    color: #fff; }
  .side-card-special-avio .items .single-item {
    padding: .5rem 1rem;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .side-card-special-avio .items .single-item h6, .side-card-special-avio .items .single-item span {
      color: #fff; }
    .side-card-special-avio .items .single-item h6 {
      margin-bottom: 0; }
    .side-card-special-avio .items .single-item:hover {
      background-color: #c6101b;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .side-card-special-avio .items .single-item .badge {
      background-color: #013198;
      color: #fff;
      padding: .3rem; }
      @media (min-width: 1200px) and (max-width: 1280px) {
        .side-card-special-avio .items .single-item .badge {
          font-size: .3rem !important; } }
    .side-card-special-avio .items .single-item .small-text {
      font-size: .7rem; }
    .side-card-special-avio .items .single-item .second-btn {
      background-color: #013198;
      color: #fff; }

/* #endregion Side card */
/* #region Banners */
@media (max-width: 575.98px) {
  .banner-sm-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
.banner-sm-section .mr-2:nth-child(2) {
  margin: 0 !important; }
.banner-sm-section .blue-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #074d92;
  background: -webkit-gradient(linear, left top, right top, from(rgba(7, 77, 146, 0.3)), color-stop(26%, rgba(7, 77, 146, 0.2)), color-stop(79%, rgba(253, 187, 90, 0)));
  background: linear-gradient(90deg, rgba(7, 77, 146, 0.3) 0%, rgba(7, 77, 146, 0.2) 26%, rgba(253, 187, 90, 0) 79%); }
.banner-sm-section .banner-sm {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 130px;
  background-image: url("../img/banners/left.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative; }
  @media (max-width: 575.98px) {
    .banner-sm-section .banner-sm {
      height: 90px;
      margin-bottom: 10px; } }
  @media (min-width: 1200px) and (max-width: 1280px) {
    .banner-sm-section .banner-sm {
      height: 100px; } }
  .banner-sm-section .banner-sm:hover {
    background-size: 120%;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .banner-sm-section .banner-sm h4, .banner-sm-section .banner-sm h3 {
    color: #fff;
    text-transform: uppercase; }
  .banner-sm-section .banner-sm h3 {
    font-weight: 700; }

/* #endregion Banners */
/* #region Popular destination */
.popular-destination {
  margin-top: 70px;
  margin-bottom: 50px; }
  @media (max-width: 575.98px) {
    .popular-destination {
      margin-top: 30px;
      margin-bottom: 10px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .popular-destination {
      margin-top: 60px;
      margin-bottom: 30px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .popular-destination {
      margin-top: 50px;
      margin-bottom: 10px; } }
  .popular-destination .owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    border: 1px solid #013198;
    margin-right: .2rem;
    border-radius: 10px; }
  .popular-destination .owl-dot:focus {
    outline: 0; }
  .popular-destination .owl-dot.active {
    background-color: #013198; }
  .popular-destination .popular-title {
    font-weight: 700;
    text-transform: uppercase;
    color: #013198;
    font-size: 4rem;
    margin-bottom: 0; }
    @media (min-width: 1200px) and (max-width: 1280px) {
      .popular-destination .popular-title {
        font-size: 3rem; } }
  .popular-destination .popular-subtitle {
    font-weight: 400;
    text-transform: uppercase;
    color: #013198;
    font-size: 2.8rem;
    margin-bottom: 1.5rem; }
    @media (min-width: 1200px) and (max-width: 1280px) {
      .popular-destination .popular-subtitle {
        font-size: 2rem; } }
  @media (max-width: 575.98px) {
    .popular-destination .popular-destination-slider {
      margin-top: 2rem; } }
  .popular-destination .popular-destination-slider .blue-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #074d92;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(7, 77, 146, 0.975227591)), color-stop(26%, rgba(7, 77, 146, 0.5718662465)), color-stop(79%, rgba(253, 187, 90, 0)));
    background: linear-gradient(0deg, rgba(7, 77, 146, 0.975227591) 0%, rgba(7, 77, 146, 0.5718662465) 26%, rgba(253, 187, 90, 0) 79%); }
  .popular-destination .popular-destination-slider .slider-item {
    width: 92%;
    overflow: hidden;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative; }
    @media (max-width: 575.98px) {
      .popular-destination .popular-destination-slider .slider-item {
        width: 100%; } }
    @media (min-width: 1200px) and (max-width: 1280px) {
      .popular-destination .popular-destination-slider .slider-item {
        height: 270px; } }
    .popular-destination .popular-destination-slider .slider-item .object-fit-center {
      -webkit-transition: all .3s;
      transition: all .3s; }
    .popular-destination .popular-destination-slider .slider-item:hover .object-fit-center {
      -webkit-transition: all .3s;
      transition: all .3s;
      -o-object-position: right;
         object-position: right; }
    .popular-destination .popular-destination-slider .slider-item .title {
      margin: 20px; }
    .popular-destination .popular-destination-slider .slider-item h2 {
      font-weight: 700;
      color: #fff; }
    .popular-destination .popular-destination-slider .slider-item h3 {
      font-weight: 400;
      color: #fff; }

/* #endregion Popular destination */
/* #region Destination box */
.destination-pack {
  margin-bottom: 12rem; }
  @media (max-width: 575.98px) {
    .destination-pack {
      margin-bottom: 9rem; } }
  @media (max-width: 575.98px) {
    .destination-pack .mobile-margin-top:nth-last-child(1) {
      margin-top: 150px;
      margin-bottom: 0; } }
  .destination-pack .destination-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    height: 300px;
    position: relative; }
    @media (max-width: 575.98px) {
      .destination-pack .destination-box {
        height: 240px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .destination-pack .destination-box.db-2 {
        margin-top: 180px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .destination-pack .destination-box.db-2 {
        margin-top: 180px; } }
    .destination-pack .destination-box .size-destination-img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
    .destination-pack .destination-box .destination-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3rem;
      color: #fff;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 10; }
      @media (min-width: 1200px) and (max-width: 1280px) {
        .destination-pack .destination-box .destination-title {
          font-size: 2rem; } }
      @media (max-width: 575.98px) {
        .destination-pack .destination-box .destination-title {
          color: #013198;
          left: 0px;
          top: 0; } }
    .destination-pack .destination-box .destination-items {
      position: absolute;
      bottom: -110px;
      width: 90%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      @media (max-width: 575.98px) {
        .destination-pack .destination-box .destination-items {
          width: 100%;
          overflow: scroll; } }
      @media (min-width: 1200px) and (max-width: 1280px) {
        .destination-pack .destination-box .destination-items {
          bottom: -30px; } }
      .destination-pack .destination-box .destination-items .item {
        width: 100%;
        height: 250px;
        margin: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        overflow: hidden; }
        @media (min-width: 1200px) and (max-width: 1280px) {
          .destination-pack .destination-box .destination-items .item {
            height: 190px; } }
        .destination-pack .destination-box .destination-items .item img {
          -webkit-transition: all .4s;
          transition: all .4s; }
        .destination-pack .destination-box .destination-items .item:hover img {
          width: 120%;
          height: 120%;
          -webkit-transition: all .4s;
          transition: all .4s; }
        @media (max-width: 575.98px) {
          .destination-pack .destination-box .destination-items .item {
            min-width: 250px;
            height: 260px; }
            .destination-pack .destination-box .destination-items .item:first-child {
              margin-left: 0px; } }
        .destination-pack .destination-box .destination-items .item .blue-bg {
          border: 8px solid #fff;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: #074d92;
          background: -webkit-gradient(linear, left bottom, left top, from(rgba(7, 77, 146, 0.6)), color-stop(20%, rgba(7, 77, 146, 0.4)), color-stop(50%, rgba(253, 187, 90, 0)));
          background: linear-gradient(0deg, rgba(7, 77, 146, 0.6) 0%, rgba(7, 77, 146, 0.4) 20%, rgba(253, 187, 90, 0) 50%); }
          @media (max-width: 575.98px) {
            .destination-pack .destination-box .destination-items .item .blue-bg {
              border: none; } }
        .destination-pack .destination-box .destination-items .item h5 {
          font-weight: 600;
          color: #fff; }

/* #endregion Destination box */
/* #region Note */
.note {
  padding: 60px 15px;
  padding-bottom: 10px; }
  @media (max-width: 575.98px) {
    .note {
      padding-top: 0px; } }
  .note .note-title {
    font-weight: 600;
    color: #212121;
    font-size: .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 1200px) and (max-width: 1280px) {
      .note .note-title {
        font-size: .55rem; } }
    .note .note-title i {
      font-weight: 600; }
  .note .note-box {
    border-radius: 4px;
    border: 1px solid #cacaca;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .note .note-box p {
      margin: 0;
      font-size: .75rem;
      color: #5f5f5f; }
      @media (max-width: 575.98px) {
        .note .note-box p {
          font-size: .8rem; } }
      @media (min-width: 1200px) and (max-width: 1280px) {
        .note .note-box p {
          font-size: .55rem; } }

/* #endregion Note */
/* #region Homepage tables */
.tableModalHomepage .nav-tabs {
  border-bottom: none;
  margin-bottom: 1rem; }
.tableModalHomepage .nav-item .nav-link {
  border: 2px solid #DE121E;
  color: #DE121E !important;
  margin-right: .25rem;
  margin-left: .25rem;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  padding: .4rem 3rem;
  min-width: 140px;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 575.98px) {
    .tableModalHomepage .nav-item .nav-link {
      margin-bottom: .5rem;
      padding: .4rem 1rem;
      min-width: 80px; } }
  .tableModalHomepage .nav-item .nav-link.active {
    background-color: #DE121E;
    color: #fff !important; }
.tableModalHomepage .polasci-tab {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: baseline;
      align-content: baseline; }
  .tableModalHomepage .polasci-tab .departure-date {
    background-color: #FFF1F1;
    padding: .4rem 1.5rem;
    margin: .25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 140px;
    text-align: center; }

.homepage-tables .flag {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px; }
.homepage-tables .view-more {
  color: #DE121E;
  text-decoration: none; }
  .homepage-tables .view-more i {
    font-size: 0.5rem; }
.homepage-tables .card-body {
  padding-top: 0px; }
.homepage-tables .mobile-data-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .homepage-tables .mobile-data-table thead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent !important; }
    .homepage-tables .mobile-data-table thead tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .homepage-tables .mobile-data-table thead tr td {
        color: #212121; }
  .homepage-tables .mobile-data-table tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .homepage-tables .mobile-data-table tbody .main-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .homepage-tables .mobile-data-table tbody .main-info .small-text {
      margin-left: .5rem; }
.homepage-tables .view-hotel {
  background-color: #d8d8d8;
  color: #212121;
  text-transform: uppercase;
  font-weight: 600;
  padding: .4rem .5rem;
  border-radius: 4px;
  margin-left: .5rem;
  margin-top: .5rem;
  margin-right: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .homepage-tables .view-hotel:hover {
    background-color: #DE121E;
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s; }
.homepage-tables .mobile-price {
  min-width: 58px;
  text-align: center; }
.homepage-tables #red_table {
  display: none;
  margin-bottom: 1.5rem; }
  @media (max-width: 575.98px) {
    .homepage-tables #red_table {
      display: block; } }
  .homepage-tables #red_table .card-header {
    background-color: transparent;
    border-bottom: 1px solid #EEEEEE;
    padding-left: 0;
    padding-right: 0; }
  .homepage-tables #red_table .card-body {
    padding-left: 0;
    padding-right: 0; }
.homepage-tables .red-table {
  width: 100%; }
  .homepage-tables .red-table thead {
    background-color: #DE121E; }
    .homepage-tables .red-table thead td {
      color: #fff;
      padding: .2rem .6rem;
      font-weight: 700; }
  .homepage-tables .red-table tbody td {
    padding: .2rem .6rem; }
  .homepage-tables .red-table .main-info {
    font-weight: 700;
    color: #DE121E; }
    .homepage-tables .red-table .main-info .small-text {
      cursor: pointer; }
.homepage-tables .green-table {
  width: 100%; }
  .homepage-tables .green-table thead {
    background-color: #6DA544; }
    .homepage-tables .green-table thead td {
      color: #fff;
      padding: .2rem .6rem;
      font-weight: 700; }
  .homepage-tables .green-table tbody td {
    padding: .2rem .6rem; }
  .homepage-tables .green-table .main-info {
    font-weight: 700; }
    .homepage-tables .green-table .main-info .small-text {
      cursor: pointer; }

/* #endregion Homepage tables*/
/* #endregion Homepage ===================== */
/* #region Template states ================= */
/* #region Header image */
#header-image {
  position: relative;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #header-image {
      height: 30vh; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #header-image {
      height: 41vh; } }
  @media (max-width: 575.98px) {
    #header-image {
      height: 34vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; } }
  #header-image .container {
    margin-top: 9rem; }
    @media (max-width: 575.98px) {
      #header-image .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-flow: column-reverse;
                flex-flow: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 3rem;
        margin-bottom: 3rem; } }
  @media (max-width: 575.98px) {
    #header-image .title {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  #header-image .title .no-header-class {
    color: #212121; }
  #header-image h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 700; }
    @media (max-width: 575.98px) {
      #header-image h1 {
        margin-top: 2.5rem;
        font-size: 3rem; } }
  #header-image p {
    color: #fff; }
  #header-image .br-destinacija {
    color: #fff;
    background: #013198;
    padding: .5rem;
    border-radius: 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.video-container {
  cursor: pointer; }
  .video-container span {
    color: #fff; }
  .video-container.no-header-class span {
    color: #212121; }
  .video-container:hover .icon-container {
    background-color: rgba(222, 18, 30, 0.15);
    -webkit-transition: all .4s;
    transition: all .4s; }
    .video-container:hover .icon-container .icon-border {
      border: 1px solid #DE121E;
      -webkit-transition: all .4s;
      transition: all .4s; }
      .video-container:hover .icon-container .icon-border .icon {
        background-color: #DE121E !important;
        -webkit-transition: all .4s;
        transition: all .4s; }
        .video-container:hover .icon-container .icon-border .icon i {
          color: #fff;
          -webkit-transition: all .4s;
          transition: all .4s; }
@-webkit-keyframes pulse {
  0% {
    border: 0px solid #fff;
    background-color: #fff;
    opacity: 1;
    width: 0%;
    height: 0%; }
  100% {
    border: 40px solid rgba(255, 255, 255, 0.082);
    background-color: rgba(255, 255, 255, 0.082);
    opacity: 0;
    width: 170%;
    height: 170%; } }
@keyframes pulse {
  0% {
    border: 0px solid #fff;
    background-color: #fff;
    opacity: 1;
    width: 0%;
    height: 0%; }
  100% {
    border: 40px solid rgba(255, 255, 255, 0.082);
    background-color: rgba(255, 255, 255, 0.082);
    opacity: 0;
    width: 170%;
    height: 170%; } }
  .video-container .icon-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .4s;
    transition: all .4s; }
    .video-container .icon-container .pulse {
      position: absolute;
      -webkit-animation: pulse 1s linear infinite;
              animation: pulse 1s linear infinite;
      border-radius: 100px; }
    .video-container .icon-container .icon-border {
      width: 5rem;
      height: 5rem;
      border-radius: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #fff;
      -webkit-transition: all .4s;
      transition: all .4s;
      z-index: 10; }
      .video-container .icon-container .icon-border.no-header-class {
        border: 1px solid #DE121E; }
      .video-container .icon-container .icon-border .icon {
        width: 4rem;
        height: 4rem;
        border-radius: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #fff !important;
        -webkit-transition: all .4s;
        transition: all .4s; }
        .video-container .icon-container .icon-border .icon.no-header-class {
          background-color: #DE121E !important; }
        .video-container .icon-container .icon-border .icon i {
          color: #DE121E;
          font-size: 1.5rem;
          margin-left: 4px;
          -webkit-transition: all .4s;
          transition: all .4s; }
          .video-container .icon-container .icon-border .icon i.no-header-class {
            color: #fff; }

@media (max-width: 575.98px) {
  .destinacije-wrapper .destinacije {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    min-height: 250px;
    overflow: scroll; } }
.destinacije-wrapper .destinacije .posebno {
  position: relative; }
  @media (max-width: 575.98px) {
    .destinacije-wrapper .destinacije .posebno {
      min-width: 340px; }
      .destinacije-wrapper .destinacije .posebno:last-child {
        margin-right: 15px; } }
  .destinacije-wrapper .destinacije .posebno figure {
    margin-right: 10px;
    margin-bottom: 40px; }
  .destinacije-wrapper .destinacije .posebno h5 {
    position: absolute;
    right: 0;
    bottom: 15px;
    background-color: #fff;
    padding: .5rem .9rem;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px #e8e8e8;
            box-shadow: 0px 0px 10px #e8e8e8;
    font-weight: 600; }

.white-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(81, 57, 251, 0)));
  background: linear-gradient(0deg, white 0%, rgba(81, 57, 251, 0) 100%); }
  @media (max-width: 575.98px) {
    .white-bg.filter-result-bg {
      background: none; } }

.header-img-mask {
  position: absolute;
  top: 0;
  left: 0; }

/* #endregion Header image */
/* #region Expandable text */
#expandable .expand-btn {
  color: #013198;
  font-weight: 600;
  cursor: pointer;
  display: inline-block; }
#expandable .card-header {
  background-color: transparent !important;
  border-bottom: none !important;
  position: relative;
  padding: 0; }
  #expandable .card-header::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(rgba(255, 255, 255, 0), white);
    -webkit-transition: all .3s;
    transition: all .3s; }
  #expandable .card-header.expand::after {
    background: transparent;
    -webkit-transition: all .3s;
    transition: all .3s; }
#expandable .card-body {
  padding: 0; }

/* #endregion Expandable text */
/* #endregion Template states  ============= */
/* #region Template destination ============ */
/* #region Items */
@media (max-width: 575.98px) {
  #destinacije-forma .destinacije {
    padding-top: 1.5rem; } }
#destinacije-forma .destinacije .posebno {
  position: relative; }
  @media (max-width: 575.98px) {
    #destinacije-forma .destinacije .posebno {
      min-width: 340px;
      margin-bottom: 1.5rem; }
      #destinacije-forma .destinacije .posebno:last-child {
        margin-right: 15px; } }
  #destinacije-forma .destinacije .posebno .single-item-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  #destinacije-forma .destinacije .posebno figure {
    margin-right: 10px;
    margin-bottom: 40px; }
    @media (max-width: 575.98px) {
      #destinacije-forma .destinacije .posebno figure {
        margin-right: 0px;
        margin-bottom: 0px;
        height: 100%; }
        #destinacije-forma .destinacije .posebno figure img {
          border-radius: 7px; } }
  #destinacije-forma .destinacije .posebno h5 {
    position: absolute;
    right: 0;
    bottom: 15px;
    background-color: #fff;
    padding: .5rem .9rem;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px #e8e8e8;
            box-shadow: 0px 0px 10px #e8e8e8;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: right; }
    #destinacije-forma .destinacije .posebno h5 .beach-distance {
      font-size: .85rem;
      color: #DE121E; }
    @media (max-width: 575.98px) {
      #destinacije-forma .destinacije .posebno h5 {
        position: relative;
        right: unset;
        bottom: unset;
        -webkit-box-shadow: unset;
                box-shadow: unset;
        text-align: left;
        background-color: transparent;
        padding: 0; } }
  #destinacije-forma .destinacije .posebno .small-badge {
    position: absolute;
    top: 10px;
    right: -12px;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    padding: .3rem .6rem;
    font-size: .8rem; }
    @media (max-width: 575.98px) {
      #destinacije-forma .destinacije .posebno .small-badge {
        right: -29px;
        padding: 0px; }
        #destinacije-forma .destinacije .posebno .small-badge img {
          width: 80%;
          border-radius: 8px; } }
  #destinacije-forma .destinacije .posebno .small-badge-left {
    left: 25px;
    right: unset;
    padding: .6rem;
    background-color: #89d08d; }
    #destinacije-forma .destinacije .posebno .small-badge-left [class^="icon-"] {
      margin-bottom: .5rem; }
      #destinacije-forma .destinacije .posebno .small-badge-left [class^="icon-"]:last-child {
        margin-bottom: 0; }
  #destinacije-forma .destinacije .posebno .price-badge {
    background-color: #DE121E;
    top: unset;
    bottom: 74px;
    right: 37px; }
  #destinacije-forma .destinacije .posebno .city-badge {
    background-color: #DE121E;
    top: unset;
    bottom: 74px;
    right: unset;
    left: 25px; }
  #destinacije-forma .destinacije .posebno .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .9rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    color: #DE121E;
    position: absolute;
    bottom: 80px;
    right: 0; }
    #destinacije-forma .destinacije .posebno .icons i {
      margin-bottom: .6rem;
      font-weight: 700; }
      @media (min-width: 1200px) and (max-width: 1536.98px) {
        #destinacije-forma .destinacije .posebno .icons i {
          margin-bottom: .3rem; } }
      @media (max-width: 575.98px) {
        #destinacije-forma .destinacije .posebno .icons i {
          margin-right: .6rem; } }
    @media (max-width: 575.98px) {
      #destinacije-forma .destinacije .posebno .icons {
        position: relative;
        bottom: unset;
        right: unset;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }

/* #endregion Items */
/* #endregion Template destination ============ */
/* #region Template hotel ===================== */
/* #region Hotel preview */
.header-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 5rem; }
  @media (max-width: 575.98px) {
    .header-image {
      padding-top: 2rem;
      background-size: 300%; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .header-image {
      padding-top: 5rem; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .header-image {
      padding-top: 3rem; } }

.image-info {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.356);
  padding: .3rem .5rem;
  color: white;
  font-size: .6rem;
  border-radius: 0;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .image-info i {
    font-weight: 700; }

#sync1 .item {
  height: 375px; }
  #sync1 .item img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 100%; }

#sync2 .item {
  cursor: pointer;
  height: 90px; }
  #sync2 .item img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 100%; }

/* #endregion Hotel preview */
/* #region Hotel info */
.star-rating {
  font-size: 1rem;
  color: #ff8400;
  margin-top: .4rem; }
  .star-rating i {
    margin-left: 0 !important;
    margin-right: .7rem !important; }

.hotel-title {
  color: #DE121E;
  font-weight: 700;
  margin: 1.5rem 0rem; }
  @media (max-width: 575.98px) {
    .hotel-title {
      margin: 0rem;
      margin-bottom: .7rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .hotel-title {
      margin: 0rem;
      margin-bottom: .7rem; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .hotel-title {
      margin: 0rem;
      margin-bottom: .7rem; } }
  .hotel-title h2 {
    font-weight: 700;
    color: #212121; }
  .hotel-title i {
    margin-right: .5rem;
    margin-left: 1.5rem; }
    @media (max-width: 575.98px) {
      .hotel-title i {
        margin-left: 0; } }

.hotel-share {
  color: #212121;
  font-weight: 700; }
  @media (max-width: 575.98px) {
    .hotel-share {
      margin-bottom: .7rem; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .hotel-share {
      margin-bottom: .7rem; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .hotel-share {
      margin-bottom: .7rem; } }
  .hotel-share i {
    margin-left: .9rem;
    color: #DE121E; }

.info-card {
  -webkit-box-shadow: 0px 0px 20px #f3f3f3;
          box-shadow: 0px 0px 20px #f3f3f3;
  background-color: #fff;
  padding: 2rem; }
  @media (max-width: 575.98px) {
    .info-card {
      padding: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      border-bottom: 1px solid #efefef;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem !important;
      margin-top: 0rem; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .info-card {
      margin-top: 3rem; } }
  .info-card .fm-info {
    margin-top: .7rem; }
    .info-card .fm-info .mr-5 {
      margin-right: .7rem !important; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .info-card .fm-info {
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .info-card h3 {
    text-transform: uppercase;
    color: #DE121E;
    font-weight: 700; }
    @media (max-width: 575.98px) {
      .info-card h3 {
        font-size: 1.25rem; } }
  .info-card .info-icons {
    margin-top: 1rem;
    background-color: #f6f6f6;
    padding: 2rem;
    padding-bottom: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 575.98px) {
      .info-card .info-icons {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .info-card .info-icons .icon {
      margin-bottom: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      margin-right: .9rem;
      width: 70px;
      height: 70px; }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .info-card .info-icons .icon {
          margin-right: .6rem; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .info-card .info-icons .icon {
          margin-right: .6rem; } }
      @media (max-width: 575.98px) {
        .info-card .info-icons .icon {
          margin-right: 0; } }
      .info-card .info-icons .icon i {
        margin-bottom: .6rem;
        color: #DE121E;
        font-size: 2rem; }
      .info-card .info-icons .icon span {
        font-size: .7rem;
        text-align: center;
        min-height: 30px; }
  @media (max-width: 575.98px) {
    .info-card .more-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column; } }
  .info-card .more-info .subtitle {
    font-weight: 600;
    min-width: 25%; }
    @media (max-width: 575.98px) {
      .info-card .more-info .subtitle {
        min-width: 100%; } }

/* #endregion Hotel info */
/* #region Hotel tabs */
.hotel-tabs {
  -webkit-box-shadow: 0px 0px 20px #f3f3f3;
          box-shadow: 0px 0px 20px #f3f3f3; }
  @media (max-width: 575.98px) {
    .hotel-tabs {
      -webkit-box-shadow: none;
              box-shadow: none; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .hotel-tabs {
      margin-bottom: 3rem; } }
  .hotel-tabs iframe {
    width: 100% !important; }
  @media (max-width: 575.98px) {
    .hotel-tabs .panel-body {
      padding: .5rem; } }
  .hotel-tabs .nav-tabs {
    border: none;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .hotel-tabs .nav-tabs {
        width: 100%;
        display: table; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .hotel-tabs .nav-tabs {
        width: 100%;
        display: table; } }
    @media (max-width: 575.98px) {
      .hotel-tabs .nav-tabs {
        overflow-x: scroll; } }
    .hotel-tabs .nav-tabs .desktop-tab {
      width: 100%;
      text-align: center; }
      .hotel-tabs .nav-tabs .desktop-tab a {
        display: block; }
      @media (max-width: 575.98px) {
        .hotel-tabs .nav-tabs .desktop-tab {
          display: table-cell;
          min-width: -webkit-fit-content;
          min-width: -moz-fit-content;
          min-width: fit-content; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .hotel-tabs .nav-tabs .desktop-tab {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          margin-right: 2rem;
          display: table-cell; }
          .hotel-tabs .nav-tabs .desktop-tab:last-child {
            margin-right: 0; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .hotel-tabs .nav-tabs .desktop-tab {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          margin-right: 2.5rem;
          display: table-cell; }
          .hotel-tabs .nav-tabs .desktop-tab:last-child {
            margin-right: 0; } }
  .hotel-tabs .desktop-tab a {
    text-transform: uppercase;
    color: #212121;
    background-color: #F6F6F6; }
  .hotel-tabs li a {
    border: none;
    padding: .9rem 2.5rem;
    font-weight: 700; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .hotel-tabs li a {
        padding: .9rem .5rem; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .hotel-tabs li a {
        padding: .9rem .5rem; } }
    .hotel-tabs li a.active {
      color: #DE121E;
      background-color: #EEEEEE;
      border-bottom: 2px solid #DE121E; }
    .hotel-tabs li a i {
      margin-right: .5rem; }
  .hotel-tabs .tab-pane {
    padding: 1.5rem; }
    @media (max-width: 575.98px) {
      .hotel-tabs .tab-pane {
        padding: .5rem 0rem; } }
    .hotel-tabs .tab-pane .panel-title .expanded-tab {
      background-color: #F6F6F6;
      border: none;
      color: #212121;
      padding: 1rem; }
    .hotel-tabs .tab-pane .panel-title .active {
      color: #DE121E;
      background-color: #EEEEEE;
      border-bottom: 2px solid #DE121E; }
  @media (max-width: 575.98px) {
    .hotel-tabs .info-tab-top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column; } }
  .hotel-tabs .panel h4 {
    margin-bottom: 0px; }
    .hotel-tabs .panel h4 a {
      color: #212121; }
  @media (min-width: 400px) {
    .hotel-tabs .panel-heading {
      display: none; }
    .hotel-tabs .panel-collapse {
      height: auto; }
      .hotel-tabs .panel-collapse.collapse {
        display: block; } }
  @media (max-width: 575.98px) {
    .hotel-tabs .tab-content .tab-pane {
      display: block; }
    .hotel-tabs .hotel-tabs .nav-tabs {
      display: none; }
    .hotel-tabs .panel-title a {
      display: block; } }
  .hotel-tabs .tip-prevoza {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem; }
    .hotel-tabs .tip-prevoza span {
      font-size: .8rem; }
    .hotel-tabs .tip-prevoza .icon {
      margin-right: .7rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #e5fbff;
      padding: .4rem .7rem; }
      .hotel-tabs .tip-prevoza .icon i {
        margin-right: .5rem; }
      .hotel-tabs .tip-prevoza .icon:last-child {
        margin-right: 0; }
  .hotel-tabs .usluga-hotela {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem; }
    .hotel-tabs .usluga-hotela span {
      font-size: .8rem; }
    .hotel-tabs .usluga-hotela .icon {
      margin-right: .7rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #fff5e5;
      padding: .4rem .7rem; }
      .hotel-tabs .usluga-hotela .icon:last-child {
        margin-right: 0; }

blockquote {
  border-left: 2px solid #DE121E;
  padding: 1rem 1.2rem;
  background-color: #EEEEEE;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  blockquote h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: #DE121E; }
  blockquote p {
    font-size: 0.9rem;
    margin-bottom: 0;
    word-break: break-all; }

#price table td {
  padding: .5rem;
  border: 2px solid #fff; }
#price table tr:nth-child(even) {
  background-color: #F2F2F2; }
#price table tr:nth-child(odd) {
  background-color: #E9E9E9; }
#price table .blue-cell {
  background-color: #013198 !important;
  color: #fff; }

@media (max-width: 575.98px) {
  #includesOrNot .btn {
    font-size: .9rem; } }
#includesOrNot .card-header {
  background-color: #013198;
  margin-top: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0.35rem 1.25rem;
  cursor: pointer; }
  @media (max-width: 575.98px) {
    #includesOrNot .card-header {
      padding: .25rem 1rem; } }
  #includesOrNot .card-header:hover {
    background-color: #01297f;
    -webkit-transition: all .3s;
    transition: all .3s; }
  #includesOrNot .card-header i {
    color: #fff;
    font-size: .8rem; }
  #includesOrNot .card-header .btn {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-decoration: none; }
#includesOrNot #collapseObuhvata li {
  margin-left: 1rem;
  padding-left: .6rem;
  margin-bottom: .3rem;
  position: relative; }
  #includesOrNot #collapseObuhvata li::after {
    content: "";
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: -14px;
    top: -1px;
    width: 7px;
    color: #19A214;
    height: 13px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
#includesOrNot #collapseNeObuhvata li {
  margin-left: 1rem;
  padding-left: .6rem;
  margin-bottom: .3rem;
  position: relative; }
  #includesOrNot #collapseNeObuhvata li::after, #includesOrNot #collapseNeObuhvata li::before {
    content: "";
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: #DE121E;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 5px;
    top: 11px;
    left: -16px; }
  #includesOrNot #collapseNeObuhvata li::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

#price .card-header {
  background-color: #013198;
  margin-top: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer; }
  @media (max-width: 575.98px) {
    #price .card-header {
      padding: .25rem 1rem; } }
  #price .card-header:hover {
    background-color: #01297f;
    -webkit-transition: all .3s;
    transition: all .3s; }
  #price .card-header i {
    color: #fff;
    font-size: .8rem; }
  #price .card-header .btn {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-decoration: none; }

@media (max-width: 575.98px) {
  #warningAccordion .btn {
    font-size: .9rem; } }
#warningAccordion .card-header {
  background-color: #DE121E;
  margin-top: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: none !important;
  cursor: pointer; }
  @media (max-width: 575.98px) {
    #warningAccordion .card-header {
      padding: .25rem 1rem; } }
  @media (min-width: 1200px) and (max-width: 1536.98px) {
    #warningAccordion .card-header {
      padding: .25rem 1rem; } }
  #warningAccordion .card-header:hover {
    background-color: #c6101b;
    -webkit-transition: all .3s;
    transition: all .3s; }
  #warningAccordion .card-header i {
    color: #fff;
    font-size: .8rem; }
  #warningAccordion .card-header .btn {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-decoration: none; }
#warningAccordion li {
  margin-left: 1rem;
  padding-left: .6rem;
  margin-bottom: .3rem;
  position: relative; }
  #warningAccordion li::after {
    content: "";
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: -14px;
    top: 7px;
    width: 10px;
    background-color: #DE121E;
    height: 10px;
    border-radius: 20px; }

/* #endregion Hotel tabs */
/* #region Inquiry card */
.inquiry-card {
  position: fixed;
  right: 15px;
  bottom: 85px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px #f3f3f3;
          box-shadow: 0px 0px 20px #f3f3f3;
  width: 340px;
  min-height: 400px;
  z-index: 100;
  opacity: 0;
  visibility: visible;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }
  .inquiry-card.show {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
  .inquiry-card .title {
    width: 100%;
    text-align: left;
    padding: .7rem;
    padding-left: 1.3rem;
    color: #fff;
    font-weight: 700;
    background-color: #013198; }
  .inquiry-card .napomena-forma {
    padding: 0px 1.4rem;
    margin-bottom: 0; }
  .inquiry-card .inquiry-form {
    padding: 1.4rem;
    padding-top: .7rem; }
    .inquiry-card .inquiry-form p {
      margin-bottom: 0; }
    .inquiry-card .inquiry-form label {
      width: 100%;
      margin-bottom: 1rem; }
    .inquiry-card .inquiry-form input {
      width: 100%;
      padding: .7rem;
      background-color: #EEEEEE;
      border: none; }
    .inquiry-card .inquiry-form input[type="submit"] {
      background-color: #DE121E;
      color: #fff; }
    .inquiry-card .inquiry-form .chose-date {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 1rem; }
      .inquiry-card .inquiry-form .chose-date span {
        width: 47.5%; }

/* #endregion Inquiry card */
/* #endregion Template hotel ================== */
/* #region Template special =================== */
/* #region Header image */
.special-header-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 520px;
  -webkit-mask-image: url("../img/special-banner.svg");
          mask-image: url("../img/special-banner.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: top;
          mask-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 1200px) and (max-width: 1536.98px) {
    .special-header-image {
      height: 460px; } }
  @media (max-width: 575.98px) {
    .special-header-image {
      height: 370px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media (max-width: 575.98px) {
    .special-header-image .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-flow: column-reverse;
              flex-flow: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 3rem; } }
  @media (max-width: 575.98px) {
    .special-header-image .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; } }
  .special-header-image .title h1 {
    font-weight: 700;
    color: #fff;
    font-size: 3.5rem; }
  .special-header-image .title .star-rating {
    background-color: #DE121E;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    padding: .4rem .8rem;
    border-radius: 4px; }
    .special-header-image .title .star-rating i:last-child {
      margin-right: 0 !important; }

/* #endregion Header image */
/* #region Trip program */
.program-sadrzaj .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3px;
  position: relative; }
  .program-sadrzaj .day::before {
    content: '';
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #d80e1c), color-stop(0%, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(#d80e1c 33%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 5px 14px;
    background-repeat: repeat-y;
    width: 5px;
    height: 100%;
    z-index: -1; }
  .program-sadrzaj .day .number {
    width: 4rem;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #013198;
    border-radius: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .program-sadrzaj .day .number span:first-child {
      color: #fff !important;
      font-size: 2rem;
      font-weight: 700;
      margin-right: -8px; }
    .program-sadrzaj .day .number span:last-child {
      margin-top: -12px;
      color: #fff; }
.program-sadrzaj:last-child .day::before {
  background-image: none; }
.program-sadrzaj .content {
  padding: 1rem; }

/* #endregion Trip program */
/* #endregion Template special ================ */
/* #region Template contact us ================ */
/* Map */
.mapa-firme iframe {
  width: 100%;
  height: 30vh;
  margin-bottom: -10px; }

/* Contact us */
#contact-us {
  padding-top: 60px; }
  @media (max-width: 575.98px) {
    #contact-us {
      padding-top: 30px; } }
  #contact-us .info {
    -webkit-column-count: 2;
            column-count: 2;
    padding-top: 51px; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      #contact-us .info {
        -webkit-column-count: unset;
                column-count: unset; } }
    @media (max-width: 575.98px) {
      #contact-us .info {
        -webkit-column-count: unset;
                column-count: unset;
        padding-top: 20px; } }

form p {
  margin-bottom: 0; }
form label {
  width: 100%;
  margin-bottom: 1rem; }
form input, form textarea {
  width: 100%;
  padding: .7rem;
  background-color: #EEEEEE;
  border: none; }
form input[type="submit"] {
  background-color: #DE121E;
  color: #fff; }
form .chose-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem; }
  form .chose-date span {
    width: 47.5%; }

/* #endregion Template contact us ============= */
/* #region Single avio karte ================== */
/* #region Letovi */
.avio-karte .logo-kompanije img {
  height: 50px;
  width: auto; }
.avio-karte .let {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .avio-karte .let .od-do {
    margin-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .avio-karte .let .od-do h2 {
      font-weight: 700; }
    .avio-karte .let .od-do h4 {
      font-weight: 700; }
  .avio-karte .let .let-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: .5rem;
    -webkit-box-shadow: 0px 0px 20px #f3f3f3;
            box-shadow: 0px 0px 20px #f3f3f3;
    padding: 1rem 2rem; }
    @media (max-width: 575.98px) {
      .avio-karte .let .let-info {
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 1rem 0rem; } }
  .avio-karte .let .w-cena {
    min-width: 35px; }

/* #endregion Letovi */
/* #endregion Single avio karte =============== */
/* #region First/Last minut Template ========== */
/* #region Card */
.minut-card h5, .minut-card h4, .minut-card a, .minut-card p {
  margin-bottom: 0; }
.minut-card h5, .minut-card h4 {
  font-weight: 700; }
.minut-card del {
  font-size: 0.9rem;
  font-weight: 400;
  color: #a1a1a1; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .minut-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    margin-top: 1rem; } }

/* #endregion Card */
/* #endregion First/Last minut Template ======= */
/* #region Search results Template ============ */
/* #region Header */
.rezultat-pretrage-header {
  height: 36vh !important; }
  @media (max-width: 575.98px) {
    .rezultat-pretrage-header {
      height: 27vh !important; } }
  .rezultat-pretrage-header .container {
    margin-top: 7rem !important; }

/* #endregion Header */
/* #endregion Search results Template ========= */

/*# sourceMappingURL=custom.css.map */