.primary-btn{
    width: fit-content;
    padding: .5rem 1rem;
    color: #fff;
    // background-color: $main-color;
    border-radius: $b-radius;
    text-align: center;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none !important;
    transition: $main-transition; 
    i{
        font-size: $font-size - .3rem;
    }
    &:hover{
        background-color: $main-color-dark;
        color: #fff;
        transition: $main-transition; 
    }
    &:focus{
        outline: 0;
    }
}

.second-btn{
    width: fit-content;
    padding: .5rem 1rem;
    color: $main-color;
    border: 2px solid $main-color;
    border-radius: $b-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none !important;
    transition: $main-transition; 

    &:hover{
        background-color: $main-color;
        color: #fff;
        transition: $main-transition; 
    }
}

.primary-color{
    border: 2px solid $main-color;
    color: $main-color;
}

.second-color{
    border: 2px solid $second-color;
    color: $second-color;
    &:hover{
        background-color: $second-color;
        color: #fff;
        transition: $main-transition; 
    }
}

.primary-full{
    background-color: $main-color !important;
}

.second-full{
    background-color: $second-color !important;
}

.small-btn{
    font-size: $font-size - .3rem;
    padding: .2rem .5rem;
    background-color: $main-color;
}

.inquiry-btn{
    padding: .8rem 2rem;
    color: #fff;
    background-color: $main-color;
    box-shadow: 0px 10px 30px #de122033;
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: $bold;
    cursor: pointer;
    border: none;
    transition: all .3s;
    z-index: 100;
    @include xs{
        padding: 0.8rem 1rem;
    }
    @include z-125{
        font-size: .9rem;
    }
    &::after{
        content: 'Pošalji upit';
        @include xs{
            font-size: .8rem;
            margin-left: .3rem;
        }
    }
    &:hover{
        background-color: darken($main-color, 5%);
        transition: all .3s;
    }
    &:focus{
        outline: none;
        border: none;
    }
    i{
        font-size: .9rem;
        margin-right: .5rem;
        @include xs{
            margin-right: 0rem;
        }
        @include z-125{
            font-size: .8rem;
        }
    }
}

.viber-btn{
    position: fixed;
    bottom: 20px;
    width: 160px;
    right: 166px;
    z-index: 100;
    img{
        width: 100%;
    }
}