@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fenyfm');
  src:  url('../fonts/icomoon.eot?fenyfm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fenyfm') format('truetype'),
    url('../fonts/icomoon.woff?fenyfm') format('woff'),
    url('../fonts/icomoon.svg?fenyfm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gondola:before {
  content: "\e938";
}
.icon-line-facebook:before {
  content: "\e936";
}
.icon-line-twitter:before {
  content: "\e937";
}
.icon-half-star:before {
  content: "\e935";
}
.icon-youtube-logotype:before {
  content: "\e933";
}
.icon-linkedin:before {
  content: "\e934";
}
.icon-instagram:before {
  content: "\e931";
}
.icon-sports-car:before {
  content: "\e932";
}
.icon-email:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-smartphone:before {
  content: "\e902";
}
.icon-thermometer:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-pin:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e907";
}
.icon-flags:before {
  content: "\e908";
}
.icon-viber:before {
  content: "\e909";
}
.icon-sleep:before {
  content: "\e90a";
}
.icon-distance:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}
.icon-customer:before {
  content: "\e90d";
}
.icon-building:before {
  content: "\e90e";
}
.icon-bus:before {
  content: "\e90f";
}
.icon-telephone:before {
  content: "\e910";
}
.icon-telephone-bold:before {
  content: "\e911";
}
.icon-disabled-person:before {
  content: "\e912";
}
.icon-tv:before {
  content: "\e913";
}
.icon-pool:before {
  content: "\e914";
}
.icon-parking-big:before {
  content: "\e915";
}
.icon-animals:before {
  content: "\e916";
}
.icon-cool:before {
  content: "\e917";
}
.icon-flower:before {
  content: "\e918";
}
.icon-breakfast:before {
  content: "\e919";
}
.icon-vault:before {
  content: "\e91a";
}
.icon-elevator:before {
  content: "\e91b";
}
.icon-arrow-down:before {
  content: "\e91c";
}
.icon-information:before {
  content: "\e91d";
}
.icon-journey:before {
  content: "\e91e";
}
.icon-monitor:before {
  content: "\e91f";
}
.icon-parking:before {
  content: "\e920";
}
.icon-arrow-right-2:before {
  content: "\e921";
}
.icon-arrow-down-2:before {
  content: "\e922";
}
.icon-arrow-right:before {
  content: "\e923";
}
.icon-home:before {
  content: "\e924";
}
.icon-full-star:before {
  content: "\e925";
}
.icon-place:before {
  content: "\e926";
}
.icon-wallet:before {
  content: "\e927";
}
.icon-play:before {
  content: "\e928";
}
.icon-search:before {
  content: "\e929";
}
.icon-snowflake:before {
  content: "\e92a";
}
.icon-star:before {
  content: "\e92b";
}
.icon-sunbed:before {
  content: "\e92c";
}
.icon-surface1:before {
  content: "\e92d";
}
.icon-swimming-pool:before {
  content: "\e92e";
}
.icon-wifi:before {
  content: "\e92f";
}
.icon-XMLID_358:before {
  content: "\e930";
}
.icon-info{
  color: #fff;
  background-color: $main-color;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include xs{
    width: 12px;
    height: 12px;
  }
}