/* =====================================
             UTILITY CLASESS
   ===================================== */ 

   .container{
       @include z-125{
           max-width:1400px ;
       }
       @include z-150{
           max-width: 1200px;
       }
   }

   .main-color-text{
       color: $main-color !important;
   }

   .ml-15{
       margin-left: 15px;
   }

   .mr-15{
       margin-right: 15px;
   }

   .font-weight-medium{
       font-weight: 600;
   }

   .small-text{
       font-size: .7rem !important;
       @include z-150{
           font-size: .6rem !important;
       }
   }

   .m-mobile-none{
       @include xs{
           margin: 0 !important;
       }
   }

   .medium-text{
       font-size: $font-size - .15rem;
       @include z-150{
           font-size: .7rem;
       }
   }

   .z-10{
       z-index: 10;
   }

   .w-fit-content{
       width: fit-content !important;
   }

   .cursor-pointer{
       cursor: pointer;
   }

   .mobile-hide{
       @include xs{
           display: none !important;
       }
   }

   .mobile-show{
       display: none !important;
       @include xs{
           display: flex !important;
       }
   }

   .card-primary{
       background-color: $main-color !important;
       color: #fff;
   }

   .border-radius-mobile{
       @include xs {
           border-radius: $b-radius;
       }
   }

   .flex-sm-column{
       flex-flow: row;
       @include xs{
           flex-flow: column;
       }
   }

   .align-items-sm-start{
       @include xs{
           align-items: flex-start !important;
       }
   }