
$font-size: .9rem;
$main-color: #DE121E;
$main-color-dark:darken($main-color,10%);
$second-color: #013198;
$black:#212121;
$green:#6DA544;
$turquoise:#00C9E1;
$input-color:#EEEEEE;
$main-shadow: 0px 0px 20px #f3f3f3;
$second-shadow:0px 0px 10px #e8e8e8;
$b-radius:4px;
$main-transition: all .3s;


// Font weight
$regular:400;
$medium: 600;
$bold: 700;