/* #region Import ========================== */ 
    @import 'mixins';
    @import 'variables';
    @import 'icons';
    @import 'utility';
    @import 'buttons';
/* #endregion Import ======================= */


/* #region Global styles =================== */ 

    *{
        font-family: 'Open Sans', sans-serif;
    }
    .form-control:focus {
        outline: 0;
        -webkit-box-shadow: $main-shadow;
        box-shadow: $main-shadow;
    }
    a,p,span,button,tr,td,th,select,input,option,button,a,.form-control,.second-btn{
        font-size: $font-size;
        @include lg{
            font-size: $font-size - .2rem;
        }
        @include z-125{
            font-size: .8rem;
        }
        @include z-150{
            font-size: .7rem;
        }
    }
    h1{
       @include z-125{
            font-size: 2.3rem;
       } 
       @include z-150{
            font-size: 2.3rem - .2rem;
       }
    }
    h2{
        @include z-125{
            font-size: 1.8rem;
        }
        @include z-150{
            font-size: 1.8rem - .2rem;
        } 
    }
    h3{
        @include z-125{
            font-size: 1.4rem;
        }
        @include z-150{
            font-size: 1.4rem - .2rem;
        } 
    }
    h4{
        @include z-125{
            font-size: 1.3rem;
        }
        @include z-150{
            font-size: 1.3rem - .2rem;
        } 
    }
    h5{
        @include z-125{
            font-size: 1.05rem;
        }
        @include z-150{
            font-size: 1.05rem - .2rem;
        } 
    }
    h6{
        @include z-125{
            font-size: .8rem;
        }
        @include z-150{
            font-size: .8rem - .2rem;
        } 
     }
    a{
        h1,h2,h3,h4,h5,h6,p,span,div,td,tr,th{
            color: $black;
        }
    }
    a:hover{
        text-decoration: none;
        color: $main-color;
    }
    // Mobile main content
    main#content{
        @include xs{
            padding-top: 70px !important;
        }
    }
    // Edit page
    .entry-footer{
        padding: .5rem;
        margin-bottom: 1rem;
        border-radius: $b-radius;
        .svg-icon{
            margin-right: .5rem;
        }
    }
    // No img style
    .no-img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
    }

/* #endregion Global styles ================ */ 


/* #region Animated icons ================== */ 
    @keyframes go-to-travel {
        0% {
            left: -20px;
        }
        100% {
            left: 50px;
        }
    }
    .airport{
        width: 40px;
        height: 20px;
        display: flex;
        margin: 0px 5px;
        align-items: center;
        position: relative;
        overflow: hidden;
        
        i{
            position: absolute;
            animation: go-to-travel ease-in-out infinite;
            animation-duration: 2.5s;
            animation-delay: 0s;
        }
    }
/* #endregion Animated icons =============== */ 


/* #region Global elements ================= */ 

    /* #region Main navigation */
    #masthead{
        padding: .5rem;
    }
    .ubermenu .ubermenu-target{
        @include z-150{
            padding-left: 0px !important;
        }
    }
    .ubermenu-responsive-toggle{
        @include xs{
            display: none !important;
        }
    }
    /* #endregion Main navigation */ 

    /* #region Mobile navigation */
    #nav-icon{
        position: fixed;
        z-index: 1000;
        padding: 1rem;
        right: 10px;
        top: 7px;
        font-size: 1.3rem;
        display: none;
        @include xs{
            display: block;
        }
    }
    
    .mm-spn.mm-spn--navbar:after{
        z-index: 200;
    }
    /* #endregion Mobile navigation */

    /* #region Secondary navigation */
    .second-menu-bg{
        background-color: $second-color;
        position: fixed;
        top: 70px;
        width: 100%;
        z-index: 100;
        @include z-150{
            top: 65px;
        }
        @include xs{
            display: none;
        }
        @include md{
            top: 69px;
        }
        &.scroll-bottom{
            transition: all .5s;
            @include md{
                top: 69px;
            }
        }
        &.scroll-top{
            transition: all .5s;
            top: 0;
        }
    }
    #menu-sekundarni-meni{
        display: flex;
        margin-bottom: 0;
        li{
            padding: .5rem 1.2rem;
            @include z-150{
                padding: .35 1.2rem;
            }
            &:hover{
                background-color: darken($second-color, 10%);
            }
            a{
                color: #fff;
            }
        }
    }
    /* #endregion Secondary navigation */ 

    /* #region Mobile filters */ 
    .focus-dark-bg-filters{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        background-color: rgba(0, 0, 0,.4);
        top:0;
        left: 0;
        display: none;
        cursor: pointer;
    }
    #mobFilterButton{
        cursor: pointer;
        position: fixed;
        top:40vh;
        right: 0;
        width: 60px;
        height: 60px;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        z-index: 1000;
        border-top-left-radius:$b-radius;
        border-bottom-left-radius: $b-radius;
        transition: all .4s;
        @include xs{
            display: flex;
            width: 40px;
            height: 40px;
            top:27vh;
        }
        i{
            color: #fff;
            font-size: 2rem;
            @include xs{
                font-size: 1.2rem;
            }
        }
        &.move-left{
            right:350px;
            transition: all .7s;
            @include xs{
                right: 88vw;
            }
        }
    }
    .mob-filter-card{
        padding: 2rem;
        width: 350px;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        right: -1000px;
        top: 0;
        background-color: #fff;
        transition: all .6s;
        @include xs{
            width: 88vw;
        }
        h2{
            text-transform: uppercase;
            color: $main-color;
        }
        iframe{
            width: 100%;
            @include xs{
                height: 40vh;
            }
            @include z-125{
                height: 40vh;
            }
            @include z-150{
                height: 27vh;
            }
        }
        .info{
            margin-top: 2.5rem;
            span{
                margin-bottom: .8rem;
            }
            i{
                color: $main-color;
                font-size: $font-size + .3rem;
                margin-bottom: 1rem;
                margin-right: 1.2rem;
                @include z-125{
                    font-size: .9rem;
                }
            }
        }
        &.contact-card-show{
            right: 0;
            transition: all .6s;
        }
    }
    /* #endregion Mobile filters */ 

    /* #region Contact sidebar */
    .focus-dark-bg{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        background-color: rgba(0, 0, 0,.4);
        top:0;
        left: 0;
        display: none;
        cursor: pointer;
    }
    #contactSidebarButton{
        cursor: pointer;
        position: fixed;
        top:30vh;
        right: 0;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        z-index: 1000;
        border-top-left-radius:$b-radius;
        border-bottom-left-radius: $b-radius;
        transition: all .4s;
        @include xs{
            width: 40px;
            height: 40px;
            top:20vh;
        }
        i{
            color: #fff;
            font-size: 2rem;
            @include xs{
                font-size: 1.2rem;
            }
        }
        &.move-left{
            right:350px;
            transition: all .7s;
            @include xs{
                right: 88vw;
            }
        }
    }
    .contact-card{
        padding: 2rem;
        width: 350px;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        right: -1000px;
        top: 0;
        background-color: #fff;
        transition: all .6s;
        @include xs{
            width: 88vw;
        }
        h2{
            text-transform: uppercase;
            color: $main-color;
        }
        iframe{
            width: 100%;
            @include xs{
                height: 40vh;
            }
            @include z-125{
                height: 40vh;
            }
            @include z-150{
                height: 27vh;
            }
        }
        .info{
            margin-top: 2.5rem;
            span{
                margin-bottom: .8rem;
            }
            i{
                color: $main-color;
                font-size: $font-size + .3rem;
                margin-bottom: 1rem;
                margin-right: 1.2rem;
                @include z-125{
                    font-size: .9rem;
                }
            }
        }
        &.contact-card-show{
            right: 0;
            transition: all .6s;
        }
    }
    /* #endregion Contact sidebar */

    /* #region Footer */ 
    footer{
        background-color: #F2F2F2;
        i[class^="icon-"]{
            color: $main-color;
            font-size: 1.25rem;
            transition: all .3s;
            &:hover{
                color: darken($main-color,5%);
                transition: all .3s;
            }
        }
        #menu-gradovi-evrope{
            columns: 2;
        }
        .footer-section-title{
            text-transform: uppercase;
        }
        .footer-content{
            padding-top: 40px;
            @include xs{
                padding-top: 30px;
                padding-bottom: 20px;
            }
            @include lg{
                padding-top: 40px;
            }
            @include md{
                padding-top: 40px;
            }
        }
        h4{
            text-transform: uppercase;
        }
        p{
            color: lighten(black, 40%); 
        }
        a{
            color: lighten(black, 40%);
            transition: all .3s;
            &:hover{
                text-decoration: none;
                color: $second-color;
                font-weight: $medium;
                transition: all .3s;
            }
        }
        
    }
    /* #endregion Footer */

    /* #region Snow overlay */
    #particles-js{
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        position: fixed;
        pointer-events: none;
       
    }
    pre{
        margin-bottom: 0;
    }
    .santa-hat{
        position: absolute;
        top: -113px;
        left: -60px;
        z-index: 100;
    }
    /* #endregion Snow overlay */ 

/* #endregion Global elements ============== */ 


/* #region Homepage ======================== */ 

    /* #region Page backgrounds */
    .top-background{
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 140px;

        @include xs{
            background-image: none !important;
            padding-top: 50px;
        }
        @include lg{
            padding-top: 180px;
        }
        @include md{
            padding-top: 180px;
        }
    }
    .middle-background{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px 0px;

        @include xs{
            background-image: none !important;
        }
        @include lg{
            padding: 0px;
        }
    }
    .bottom-background{
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px 0px;

        @include xs{
            background-image: none !important;
        }
    }
    /* #endregion Page backgrounds */ 

    /* #region Hero slider */
    .slider{
        position: relative;
        .content{
            padding: 0px;
        }
    }
    .content{
        text-align: unset;
    }
    .main-home-slider{
        
        .owl-dots{
            display: flex;
            justify-content: center;
            
            .owl-dot{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                border: 1px solid $main-color !important;
                margin-right: .3rem;
                &:last-child{
                    margin-right: 0;
                }
                &.active{
                    background-color: $main-color;
                }
            }
        }
        .temp-bg{
            background-image: url('../img/placeholders/right.png');
        }
        .slider-item{
            height: 60vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            @include xs{
                height: 190px;
            }
            @include md{
                height: 45vh;
            }
            @include lg{
                height: 40vh;
            }
            h2{
                span{
                    font-size: 4rem;
                    @include z-150{
                        font-size: 3rem;
                    }
                }
            }
        }
        
        .all-items{
            display: none;
            @include xs{
                display: flex;
                align-items: center !important;
                margin-top: -18px;
            }
        }
        .primary-btn{
            font-size: $font-size - .2rem;
            padding: .7rem 2rem;

            @include xs{
                display: none;
            }
        }
        .subtitle{
            font-weight: $medium;
            color: #fff;
            width: fit-content;
            background-color: $main-color;
            padding: .3rem .5rem;
            font-weight: 600;
        }
        p{
            color: #fff;
            font-weight: $medium;
            
            @include xs{
                color: $black;
                text-align: center;
            }
        }
        .content{
            h1,h2,h3,h4,h5,h6{
                color: #fff;
                margin-bottom: 0px;

                @include xs{
                    color: $black;
                    text-align: center;
                }
            }
            h2{
                font-size: 4rem;
                font-weight: $bold;
                @include xs{
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
        
    }
    /* #endregion Hero slider*/ 

    /* #region Filters */
        .filter-box{
            width: 70%;
            position: absolute;
            bottom: -95px;
            z-index: 10;
            background-color: #fff;
            @include z-150{
                padding: 20px;
            }
            @include md{
                width: 90%;
                bottom:-125px !important;
            }
            @include xs{
                display: none;
            }
            @include lg{
                width: 90%;
            }
            label i{
                color: $main-color;
                font-weight: $bold;
            }
            .select-container{
                position: relative;
                display: flex;
                align-items: center;
                select{
                    padding-left: 2rem;
                    border: none;
                    border-bottom: 1px solid $input-color;
                }
                
                i{
                    position: absolute;
                    left: .7rem;
                    color: $main-color;
                }
            }
        }
        .filter-box-side{
            position: relative;
            bottom: unset;
            width: 100%;
            @include xs{
                display: block;
            }
            .checkbox-filter{
                width: 30%;
                margin-bottom: .4rem;

                label{
                    margin: 0px;
                }
            }
        }
        @include xs{
            .mob-filter-checkbox{
                flex-wrap: wrap;
                justify-content: center;
                padding-top: .5rem;
                .checkbox-filter{
                    width: 49% !important;
                    margin-bottom: .4rem;
                }
                label{
                    margin-bottom: 0;
                }
                i{
                    font-size: 1rem;
                }
            }
        }
        .filter-box-side{
            .mob-filter-checkbox{
                flex-wrap: wrap;
                justify-content: center;
                padding-top: .5rem;
                .checkbox-filter{
                    width: 49% !important;
                    margin-bottom: .4rem;
                }
                label{
                    margin-bottom: 0;
                }
                i{
                    font-size: 1rem;
                }
            }
        }
        .mob-filter-card{
            .filter-box{
                width: 100%;
                position: unset;
                bottom: 0;
                display: block;
                padding: 0;
                box-shadow: none;

                .primary-btn{
                    justify-content: center;
                    i{
                        color: #fff;
                    }
                }
            }
        }

    /* #endregion Filters */ 

    /* #region Tabs  */ 
    .homepage-tabs{
        .custom-pr{
            padding-right: 40px;
            @include xs{
                padding-right: 15px;
            }
            @include lg{
                padding-right: 15px !important;
            }
            @include md{
                padding-right: 15px;
            }
        }
        .tab-content{
            padding: 1rem;
        }
        .owl-dots{
            display: flex;
            justify-content: center;
        }
        .owl-carousel button.owl-dot{
            width: 10px;
            height: 10px;
            border-radius: 110px;
            border: 1px solid $second-color;
            margin: .1rem .2rem;
            &:focus{
                outline: none;
            }
            &.active{
                background-color: $second-color;
            }
        }
    }
    .home-tabs-wrapper{
        @include xs{
            margin-bottom: 45px;
        }
        @include md{
            margin-bottom: 40px;
        }
        .tabs-section-title{
            text-transform: uppercase;
        }
        #pills-tab{
            width: 100%;
            background-color: transparent;
            border-bottom: 2px solid $main-color;
            @include xs{
                border: none;
            }
        }
        .nav.nav-pills{
            padding: 0px;

            .nav-link{
                border-radius: 0px;
                color: $black;
                padding: .6rem 2.5rem;
                text-transform: uppercase;
                font-weight: bold;
                @include lg{
                    padding: .6rem 2rem;
                }
                @include xs{
                    font-size: .7rem;
                    padding: .3rem;
                    border: 2px solid $main-color;
                    border-radius: $b-radius;
                    color: $main-color;
                    background-color: transparent;
                    margin-right: .3rem;
                }
                &.active{
                    background-color: $main-color;
                    color: #fff;
                }

            }
        }
        .object-fit-center{
            transition: all .3s;
        }
        .ponuda-img-wrapper{
            height: 240px !important;
            @include z-150{
                height: 170px !important;
            }
        }
        .ponuda-img-wrapper:hover{
            .object-fit-center{
                height: 120%;
                transition: all .3s;
            }
        }
        
        .single-destinacija-tab figure{
            height: 200px;
            overflow: hidden;
        }
        .destinacije-tab{
            @include xs{
                display: flex;
                flex-flow: row;
                overflow: scroll;
            }
            .hover1{
                @include xs{
                    min-width: 200px;
                    width: 200px;
                    padding-right: 0;

                    &:last-child{
                        padding-right: 15px;
                    }
                }
            }
            span.ponuda-badge{
                left: 10px;
                right: unset;
                width: fit-content;
                color: $main-color;
                background-color: #fff;
                box-shadow: 0px 7px 10px rgba(0, 0, 0,.24);
            }
            span.ponuda-promo-text{
                background: transparent;
                color: #fff;
                font-size: 1.2rem;
                & a{
                    color: #fff;
                    font-size: 1.2rem;
                }
            }
            span.ponuda-badge.angle-bg{
                background-color: $main-color;
                box-shadow: none;
                width: 70px !important;
                height: 70px !important;
                clip-path: polygon(0 0, 0% 100%, 100% 0);
                top: 0;
                left: 0;
            }
            span.ponuda-badge.angle-text{
                color: #fff;
                background-color: transparent;
                box-shadow: none;
                transform: rotate(-45deg);
                left: -23px;
                top: 17px;
                width: 100px;
                text-align: center;
            }
        }
        .black-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0, 0, 0,.7) 0%, rgba(253, 187, 90, 0) 60%);
        }
    }
    /* #endregion Tabs  */ 

    /* #region Side card */
    .side-card-map{
        iframe{
            width: 100%;
        }
    }
    .side-card{
        width: 100% !important;
        height: fit-content;
        background-color: #fff;
        box-shadow: $main-shadow;
        @include xs{
            margin-top: 2rem;
        }
        .title h5{
            width: 100% !important;
            padding: .7rem;
            background-color: $second-color;
            text-transform: uppercase;
            font-weight: $bold;
            color: #fff;
            text-align: center;
        }
        .items{
            .single-item{
                padding:.5rem 1rem;
                h6{
                    margin-bottom: 0;
                }
                &:hover{
                    background-color: rgb(247, 247, 247);
                }
                .badge{
                    background-color: $main-color;
                    color: #fff;
                    text-transform: uppercase;
                    width: fit-content;
                    height: fit-content;
                    padding: .3rem;
                    border-radius: $b-radius;
                    font-size: .6rem !important;
                    @include z-150{
                        font-size: .3rem !important;
                    }
                }
                .small-text{
                    font-size: .7rem;
                }
            }
        }
    }
    .side-card-special{
        background-color: $second-color;
        position: relative;
        #particles-js{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
        }
        .title h5{
            background-color: darken($second-color, 5%);
            color: #fff;
        }
        .items{
            .single-item{
                padding:.5rem 1rem;
                transition: all .3s;
                h6,span{
                    color: #fff;
                }
                h6{
                    margin-bottom: 0;
                }
                &:hover{
                    background-color:darken($second-color, 5%);
                    transition: all .3s;
                }
                .badge{
                    background-color: $main-color;
                    color: #fff;
                    padding: .3rem;
                    @include z-150{
                        font-size: .3rem !important;
                    }
                }
                .small-text{
                    font-size: .7rem;
                }
                .second-btn{
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }
    }
    .side-card-special-avio{
        background-color: $main-color;
        .title h5{
            background-color: darken($main-color, 5%);
            color: #fff;
        }
        .items{
            .single-item{
                padding:.5rem 1rem;
                transition: all .3s;
                h6,span{
                    color: #fff;
                }
                h6{
                    margin-bottom: 0;
                }
                &:hover{
                    background-color:darken($main-color, 5%);
                    transition: all .3s;
                }
                .badge{
                    background-color: $second-color;
                    color: #fff;
                    padding: .3rem;
                    @include z-150{
                        font-size: .3rem !important;
                    }
                }
                .small-text{
                    font-size: .7rem;
                }
                .second-btn{
                    background-color: $second-color;
                    color: #fff;
                }
            }
        }
    }
    /* #endregion Side card */

    /* #region Banners */
    .banner-sm-section{
        @include xs{
            flex-wrap: wrap;
        }
        .mr-2:nth-child(2){
            margin: 0 !important;
        }
        .blue-bg{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(7,77,146);
            background: linear-gradient(90deg, rgba(7, 77, 146, 0.3) 0%, rgba(7, 77, 146, 0.2) 26%, rgba(253, 187, 90, 0) 79%);
        }
        .banner-sm{
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            height: 130px;
            background-image: url('../img/banners/left.png');
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 1.5rem;
            transition: all .3s;
            position: relative;
            @include xs{
                height: 90px;
                margin-bottom: 10px;
            }
            @include z-150{
                height: 100px;
            }
            &:hover{
                background-size: 120%;
                transition: all .3s;
            }
            
            h4,h3{
                color: #fff;
                text-transform: uppercase;
            }
            h3{
                font-weight: $bold;
            }
        }
    }

    /* #endregion Banners */ 

    /* #region Popular destination */

    .popular-destination{
        // Owl settings
        margin-top: 70px;
        margin-bottom: 50px;
        @include xs{
            margin-top: 30px;
            margin-bottom: 10px;
        }
        @include lg{
            margin-top: 60px;
            margin-bottom: 30px;
        }
        @include md{
            margin-top: 50px;
            margin-bottom: 10px;
        }
        .owl-carousel button.owl-dot{
            width: 10px;
            height: 10px;
            border: 1px solid $second-color;
            margin-right: .2rem;
            border-radius: 10px;
        }
        .owl-dot:focus{
            outline: 0;
        }
        .owl-dot.active{
            background-color: $second-color;
        }
        .popular-title{
            font-weight: $bold;
            text-transform: uppercase;
            color:$second-color;
            font-size: 4rem;
            margin-bottom: 0;
            @include z-150{
                font-size: 3rem;
            }
        }
        .popular-subtitle{
            font-weight: $regular;
            text-transform: uppercase;
            color:$second-color;
            font-size: 2.8rem;
            margin-bottom: 1.5rem;
            @include z-150{
                font-size: 2rem;
            }
        }
        .popular-destination-slider{
            @include xs{
                margin-top: 2rem;
            }
            .blue-bg{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgb(7,77,146);
                background: linear-gradient(0deg, rgba(7,77,146,0.9752275910364145) 0%, rgba(7,77,146,0.5718662464985995) 26%, rgba(253,187,90,0) 79%);
            }
            .slider-item{
                width: 92%;
                overflow: hidden;
                height: 330px;
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                position: relative;
                @include xs{
                    width: 100%;
                }
                @include z-150{
                    height: 270px;
                }
                .object-fit-center{
                    transition: all .3s;
                }
                &:hover{
                    .object-fit-center{
                        transition: all .3s;
                        object-position: right;
                    }
                }
                .title{
                    margin: 20px;
                }
                h2{
                    font-weight: $bold;
                    color: #fff;
                }
                h3{
                    font-weight: $regular;
                    color: #fff;
                }
            }
        }
    }
    
    /* #endregion Popular destination */ 

    /* #region Destination box */ 
    .destination-pack{
        margin-bottom: 12rem;

        @include xs{
            margin-bottom: 9rem;
        }
        .mobile-margin-top:nth-last-child(1){
            @include xs{
                margin-top: 150px;
                margin-bottom: 0;
            }
        }
        .destination-box{
            position: relative;
            display: flex;
            align-items: center;
            flex-flow: column;
            width: 100%;
            height: 300px;
            position: relative;
            @include xs{
                height: 240px;
            }
            @include lg{
                &.db-2{
                    margin-top: 180px;
                }
            }
            @include md{
                &.db-2{
                    margin-top: 180px;
                }
            }
            .size-destination-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .destination-title{
                text-transform: uppercase;
                font-weight: $bold;
                font-size: 3rem;
                color: #fff;
                position: absolute;
                top: 20px;
                left: 20px;
                z-index: 10;
                @include z-150{
                    font-size: 2rem;
                }
                @include xs{
                    color: $second-color;
                    left: 0px;
                    top: 0;
                }
            }
            .destination-items{
                position: absolute;
                bottom: -110px;
                width: 90%;
                display: flex;
                justify-content: space-around;
                @include xs{
                    width: 100%;
                    overflow: scroll;
                }
                @include z-150{
                    bottom: -30px;
                }
                .item{
                    width: 100%;
                    height: 250px;
                    margin: 10px;
                    display: flex;
                    align-items: flex-end;
                    overflow: hidden;
                    @include z-150{
                        height: 190px;
                    }
                    img{
                        transition: all .4s;
                    }
                    &:hover{
                        
                        img{
                            width: 120%;
                            height: 120%;
                            transition: all .4s;
                        }
                    }
                    
                    @include xs{
                        min-width: 250px;
                        height: 260px;
                        &:first-child{
                            margin-left: 0px;
                        }
                    }
                    .blue-bg{
                        border: 8px solid #fff;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgb(7,77,146);
                        background: linear-gradient(0deg, rgba(7, 77, 146, 0.6) 0%, rgba(7, 77, 146, 0.4) 20%, rgba(253, 187, 90, 0) 50%);

                        @include xs{
                            border:none;
                        }
                    }
                    h5{
                        font-weight: $medium;
                        color: #fff;
                    }
                }
            }
        }
    }
    
    /* #endregion Destination box */ 

    /* #region Note */
    .note{
        padding: 60px 15px;
        padding-bottom: 10px;
        @include xs{
            padding-top: 0px;
        }
        .note-title{
            font-weight: $medium;
            color: $black;
            font-size: .75rem;
            display: flex;
            align-items: center;
            @include z-150{
                font-size: .55rem;
            }
            i{
                font-weight: $medium;
            }
        }
        .note-box{
            border-radius: $b-radius;
            border: 1px solid #cacaca;
            display: flex;
            justify-content: center;
            padding: 1rem;
            flex-flow: column;
            p{
                margin: 0;
                font-size: .75rem;
                color: #5f5f5f;
                @include xs{
                    font-size: .8rem;
                }
                @include z-150{
                    font-size: .55rem;
                }
            }
        }
    }
    
    /* #endregion Note */ 

    /* #region Homepage tables */
    
    // Modal
    .tableModalHomepage{
        .nav-tabs{
            border-bottom: none;
            margin-bottom: 1rem;
        }
        .nav-item{
            .nav-link{
                border: 2px solid $main-color;
                color: $main-color !important;
                margin-right: .25rem;
                margin-left: .25rem;
                border-radius: $b-radius;
                font-weight: bold;
                color: #fff;
                padding: .4rem 3rem;
                min-width: 140px;
                text-align: center;
                text-transform: uppercase;

                @include xs{
                    margin-bottom: .5rem;
                    padding: .4rem 1rem;
                    min-width: 80px;
                }
                &.active{
                    background-color: $main-color;
                    color: #fff !important;
                }
            }
        }
        .polasci-tab{
            height: 180px;
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            align-content: baseline;
            .departure-date{
                background-color: #FFF1F1;
                padding: .4rem 1.5rem;
                margin: .25rem;
                width: fit-content;
                min-width: 140px;
                text-align: center;
            }
        }
    }
    
    .homepage-tables{
        .flag{
            width: 2rem;
            height: 2rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50px;
        }
        .view-more{
            color:$main-color;
            text-decoration: none;
            i{
                font-size: ($font-size - .2rem) - .2rem;
            }
        }
        .card-body{
            padding-top: 0px;
        }
        .mobile-data-table{
            display: flex;
            thead{
                display: flex;
                flex-flow: column;
                width: fit-content;
                background-color: transparent !important;
                tr{
                    display: flex;
                    flex-flow: column;
                    width: fit-content;
                    td{
                        color: $black;
                    }
                }
            }
            tbody{
                tr{
                    display: flex;
                    flex-flow: column;
                    width: fit-content;
                }
                .main-info{
                    display: flex;
                    align-items: center;
                    .small-text{
                        margin-left: .5rem;
                    }
                }
            }
        }
        .view-hotel{
            background-color: #d8d8d8;
            color: $black;
            text-transform: uppercase;
            font-weight: $medium;
            padding: .4rem .5rem;
            border-radius: $b-radius;
            margin-left: .5rem;
            margin-top: .5rem;
            margin-right: .5rem;
            display: flex;
            justify-content: center;
            transition: all .3s;
            &:hover{
                background-color: $main-color;
                color: #fff;
                transition: all .3s;
            }
        }
        .mobile-price{
            min-width: 58px;
            text-align: center;
        }
        #red_table{
            display: none;
            margin-bottom: 1.5rem;
            @include xs{
                display: block;
            }
            .card-header{
                background-color: transparent;
                border-bottom: 1px solid $input-color;
                padding-left: 0;
                padding-right: 0;
            }
            .card-body{
                padding-left: 0;
                padding-right: 0;
            }
        }

        .red-table{
            width: 100%;
            thead{
                background-color: $main-color;
                td{
                    color:#fff;
                    padding: .2rem .6rem;
                    font-weight: $bold;
                }
            }
            tbody{
                td{
                    padding: .2rem .6rem;
                }
            }
            .main-info{
                font-weight: $bold;
                color: $main-color;
                .small-text{
                    cursor: pointer;
                }
            }
        }
        .green-table{
            width: 100%;
            thead{
                background-color: $green;
                td{
                    color:#fff;
                    padding: .2rem .6rem;
                    font-weight: $bold;
                }
            }
            tbody{
                td{
                    padding: .2rem .6rem;
                }
            }
            .main-info{
                font-weight: $bold;
                .small-text{
                    cursor: pointer;
                }
            }
        }
    }
    /* #endregion Homepage tables*/ 

/* #endregion Homepage ===================== */ 


/* #region Template states ================= */ 

    /* #region Header image */ 
    #header-image{
        position: relative;
        height: 50vh;
        display: flex;
        justify-content: center;
        @include lg{
            height: 30vh;
        }
        @include md{
            height: 41vh;
        }
        @include xs{
            height: 34vh;
            display: flex;
            align-items: flex-end;
        }
        .container{
            margin-top: 9rem;
            @include xs{
                flex-flow: column-reverse;
                align-items: center;
                margin-top: 3rem;
                margin-bottom:3rem;
            }
        }
        .title{
            @include xs{
                align-items: center;
            }
            .no-header-class{
                color: $black;
            }
        }
        h1{
            font-size: 4rem;
            color: #fff;
            font-weight: $bold;
            @include xs{
                margin-top: 2.5rem;
                font-size: 3rem;
            }
        }
        p{
            color: #fff;
        }
        .br-destinacija{
            color: #fff;
            background:$second-color;
            padding: .5rem;
            border-radius: $b-radius;
            width: fit-content;
        }
        
    }
    .video-container{
        cursor: pointer;
        span{
            color: #fff;
        }
        &.no-header-class{
            span{
                color:$black;
            }
        }
        &:hover{
           
            .icon-container{
                background-color: rgba(222, 18, 30,.15);
                transition: all .4s;
                .icon-border{
                    border: 1px solid $main-color;
                    transition: all .4s;
                    .icon{
                        background-color: $main-color !important;
                        transition: all .4s;
                        i{
                            color: #fff;
                            transition: all .4s;
                        }
                    }
                }
            }
        }

        @keyframes pulse {
            0% {
              border: 0px solid #fff;
              background-color: #fff;
              opacity: 1;
              width: 0%;
              height: 0%;
            }
            100% {
              border: 40px solid rgba(255, 255, 255, 0.082);
              background-color: rgba(255, 255, 255, 0.082);
              opacity: 0;
              width: 170%;
              height: 170%;
            }
        }

        .icon-container{
            width: fit-content;
            height: fit-content;
            border-radius: 100px;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
             transition: all .4s;
            
            .pulse{
                position: absolute;
                animation: pulse 1s linear infinite;
                border-radius: 100px;
            }
            .icon-border{
                width: 5rem;
                height: 5rem;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #fff;
                 transition: all .4s;
                 z-index: 10;
                 &.no-header-class{
                     border: 1px solid $main-color;
                 }
                .icon{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff !important;
                     transition: all .4s;
                    &.no-header-class{
                        background-color: $main-color !important;
                    }
                    i{
                        color: $main-color;
                        font-size: 1.5rem;
                        margin-left: 4px;
                        transition: all .4s;
                        &.no-header-class{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .destinacije-wrapper{
        .destinacije{
            @include xs{
                flex-flow: row;
                min-height: 250px;
                overflow: scroll;
            }
            .posebno{
                position: relative;
                @include xs{
                    min-width: 340px;
                    &:last-child{
                        margin-right: 15px;
                    }
                }
                figure{
                    margin-right: 10px;
                    margin-bottom: 40px;
                }
                h5{
                    position: absolute;
                    right: 0;
                    bottom: 15px;
                    background-color: #fff;
                    padding: .5rem .9rem;
                    border-radius: $b-radius;
                    box-shadow: $second-shadow;
                    font-weight: $medium;
                    
                }
            }
        }
    }
    .white-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(81,57,251,0) 100%);
        @include xs{
            &.filter-result-bg{
                background: none;
            }
        }
    }
    .header-img-mask{
        position: absolute;
        top: 0;
        left: 0;
    }
    /* #endregion Header image */ 

    /* #region Expandable text */
    #expandable{
        .expand-btn{
            color: $second-color;
            font-weight: $medium;
            cursor: pointer;
            display: inline-block;
        }
        .card-header{
            background-color: transparent !important;
            border-bottom: none !important;
            position: relative;
            padding: 0;
            &::after{
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                transition: all .3s;
            }
            &.expand{
                &::after{
                    background: transparent;
                    transition: all .3s;
                }
            }
        }
        .card-body{
            padding: 0;
        }
    }
    /* #endregion Expandable text */

/* #endregion Template states  ============= */ 


/* #region Template destination ============ */ 

    /* #region Items */
    #destinacije-forma{
        .destinacije{
            @include xs{
                padding-top: 1.5rem;
            }
            .posebno{
                position: relative;
                @include xs{
                    min-width: 340px;
                    margin-bottom: 1.5rem;
                    &:last-child{
                        margin-right: 15px;
                    }
                }
                .single-item-mob{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                }
                figure{
                    margin-right: 10px;
                    margin-bottom: 40px;
                    @include xs{
                        margin-right: 0px;
                        margin-bottom: 0px;
                        height: 100%;
                        img{
                            border-radius: 7px;
                        }
                    }
                }
                h5{
                    position: absolute;
                    right: 0;
                    bottom: 15px;
                    background-color: #fff;
                    padding: .5rem .9rem;
                    border-radius: $b-radius;
                    box-shadow: $second-shadow;
                    font-weight: $medium;
                    display: flex;
                    flex-flow: column;
                    text-align: right;
                    .beach-distance{
                        font-size: .85rem;
                        color: $main-color;
                    }
                    @include xs{
                        position: relative;
                        right: unset;
                        bottom: unset;
                        box-shadow: unset;
                        text-align: left;
                        background-color: transparent;
                        padding: 0;
                    }
                }
                .small-badge{
                    position: absolute;
                    top: 10px;
                    right: -12px;
                    // background-color: $turquoise;
                    color: #fff;
                    border-radius: $b-radius;
                    font-weight: $medium;
                    text-transform: uppercase;
                    padding: .3rem .6rem;
                    font-size: .8rem;
                    // box-shadow: 3px 5px 10px #4545454d;
                    @include xs{
                        right: -29px;
                        padding: 0px;
                        img{
                            width: 80%;
                            border-radius: 8px;
                        }
                    }
                }
                .small-badge-left{
                    left: 25px;
                    right: unset;
                    padding:.6rem;
                    background-color: #89d08d;
                    [class^="icon-"]{
                        margin-bottom: .5rem;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                .price-badge{
                    background-color: $main-color;
                    top: unset;
                    bottom: 74px;
                    right: 37px;
                }
                .city-badge{
                    background-color: $main-color;
                    top: unset;
                    bottom: 74px;
                    right: unset;
                    left: 25px;
                }
                .icons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: .9rem;
                    flex-flow: column;
                    color: $main-color;
                    position: absolute;
                    bottom: 80px;
                    right: 0;
                    i{
                        margin-bottom: .6rem;
                        font-weight: $bold;
                        @include z-125{
                            margin-bottom: .3rem;
                        }
                        @include xs{
                            margin-right: .6rem;
                        }
                    }
                    @include xs{
                        position: relative;
                        bottom: unset;
                        right: unset;
                        flex-flow: row;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
    /* #endregion Items */ 

/* #endregion Template destination ============ */ 


/* #region Template hotel ===================== */ 

    /* #region Hotel preview */
    .top-head-title{
        
    }
    .header-image{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        padding-top: 5rem;
        @include xs{
            padding-top: 2rem;
            background-size: 300%;
        }
        @include md{
            padding-top: 5rem;
        }
        @include lg{
            padding-top: 3rem;
        }
    }
    .image-info{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.356);
        padding: .3rem .5rem;
        color: white;
        font-size: .6rem;
        border-radius: 0;
        font-weight: 400;
        display: flex;
        align-items: center;
        i{
            font-weight: $bold;
        }
    }
    #sync1 .item{
        height: 375px;
        img{
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }
    #sync2 .item{
        cursor: pointer;
        height: 90px;
        img{
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }
    /* #endregion Hotel preview */ 

    /* #region Hotel info */
    .star-rating{
        font-size: 1rem;
        color: #ff8400;
        margin-top: .4rem;
        i{
            margin-left: 0 !important;
            margin-right: .7rem !important;
        }
    }
    .hotel-title{
        color: $main-color;
        font-weight: $bold;
        margin: 1.5rem 0rem;
        @include xs{
            margin:0rem;
            margin-bottom: .7rem;
            flex-flow: column;
        }
        @include md{
            margin:0rem;
            margin-bottom: .7rem;
        }
        @include lg{
            margin:0rem;
            margin-bottom: .7rem;
        }
        h2{
            font-weight: $bold;
            color: $black;
        }
        i{
            margin-right: .5rem;
            margin-left: 1.5rem;
            @include xs{
                margin-left: 0;
            }
        }

    }
    .hotel-share{
        color: $black;
        font-weight: $bold;
        @include xs{
            margin-bottom: .7rem;
        }
        @include md{
            margin-bottom: .7rem;
        }
        @include lg{
            margin-bottom: .7rem;
        }
        i{
            margin-left: .9rem;
            color: $main-color;
        }
    }
    .info-card{
        box-shadow: $main-shadow;
        background-color: #fff;
        padding: 2rem;
        @include xs{
            padding: 0;
            box-shadow: none;
            display: flex;
            flex-flow: column;
            border-bottom: 1px solid #efefef;
            padding-bottom: 1rem;
            margin-bottom: 1.5rem !important;
            margin-top: 0rem;
        }
        @include md{
            margin-top: 3rem;
        }
        .fm-info{
            margin-top: .7rem;
            .mr-5{
                margin-right: .7rem !important;
            }
            @include md{
                width: 100%;
                justify-content: space-between;
            }
        }
        h3{
            text-transform: uppercase;
            color: $main-color;
            font-weight: $bold;
            @include xs{
                font-size: 1.25rem;
            }
        }
        .info-icons{
            margin-top: 1rem;
            background-color: lighten($input-color, 3%);
            padding: 2rem;
            padding-bottom: 1.1rem;
            display: flex;
            flex-wrap: wrap;
            @include xs{
                justify-content: center;
            }
            .icon{
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                margin-right: .9rem;
                width: 70px;
                height: 70px;
                @include md{
                    margin-right: .6rem;
                }
                @include lg{
                    margin-right: .6rem;
                }
                @include xs{
                    margin-right: 0;
                }
                i{
                    margin-bottom: .6rem;
                    color: $main-color;
                    font-size: 2rem;
                }
                span{
                    font-size: .7rem;
                    text-align: center;
                    min-height: 30px;
                }
            }
        }
        .more-info{
            @include xs{
                flex-flow: column;
            }
            .subtitle{
                font-weight: $medium;
                min-width: 25%;
                @include xs{
                    min-width: 100%;
                }
            }
        }
        
    }
    /* #endregion Hotel info */

    /* #region Hotel tabs */
    .hotel-tabs{
        box-shadow: $main-shadow;
        @include xs{
            box-shadow: none;
        }
        @include md{
            margin-bottom: 3rem;
        }
        iframe{
            width: 100% !important;
        }
        .panel-body{
            @include xs{
                padding: .5rem;
            }
        }
        .nav-tabs{
            border: none;
            background-color: lighten($input-color, 3%);
            display: flex;
            flex-flow: row;
            @include md{
                width: 100%;
                display: table;
            }
            @include lg{
                width: 100%;
                display: table;
            }
            @include xs{
                overflow-x: scroll;
            }
            .desktop-tab{
                width: 100%;
                text-align: center;
                a{
                    display: block;
                }
                @include xs{
                    display: table-cell;
                    min-width: fit-content;
                }
                @include md{
                    width: fit-content;
                    margin-right: 2rem;
                    display: table-cell;
                    &:last-child{
                        margin-right: 0;
                    }
                }
                @include lg{
                    width: fit-content;
                    margin-right: 2.5rem;
                    display: table-cell;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .desktop-tab a{
            text-transform: uppercase;
            color: $black;
            background-color: #F6F6F6;
        }
        li a{
            border: none;
            padding: .9rem 2.5rem;
            font-weight: $bold;
            @include md{
                padding: .9rem .5rem;
            }
            @include lg{
                padding: .9rem .5rem;
            }
            &.active{
                color: $main-color;
                background-color: $input-color;
                border-bottom: 2px solid $main-color;
            }
            i{
                margin-right: .5rem;
            }
        }
        .tab-pane{
            padding: 1.5rem;
            @include xs{
                padding: .5rem 0rem;
            }
            .panel-title{
                .expanded-tab{
                    background-color: #F6F6F6;
                    border: none;
                    color: $black;
                    padding: 1rem;
                }
                .active{
                    color: $main-color;
                    background-color: $input-color;
                    border-bottom: 2px solid $main-color;
                }
            }
        }
        .info-tab-top{
            @include xs{
                flex-flow: column;
            }
        }
        .panel{
            h4{
                margin-bottom: 0px;
                a{
                    color: $black;
                }
            }
        }
        @media(min-width:400px){
            .panel-heading{
              display:none;
            } 
            .panel-collapse{
              height:auto;
              &.collapse{
                display:block;
              }
            }
          }
          @include xs{
            .tab-content{
                .tab-pane{
                   display:block;
                }    
              }
              .hotel-tabs{
                  .nav-tabs{
                      display:none;
                  }
              } 
              .panel-title a{
                display:block;
              }
          }
          
        .tip-prevoza{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            span{
                font-size: .8rem;
            }
            .icon{
                margin-right: .7rem;
                display: flex;
                align-items: center;
                background: #e5fbff;
                padding: .4rem .7rem;
                i{
                    margin-right: .5rem;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .usluga-hotela{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            span{
                font-size: .8rem;
            }
            .icon{
                margin-right: .7rem;
                display: flex;
                align-items: center;
                background: #fff5e5;
                padding: .4rem .7rem;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    } 
    blockquote{
        border-left: 2px solid $main-color;
        padding: 1rem 1.2rem ;
        background-color: $input-color;
        margin-top: 2rem;
        margin-bottom: 2rem;
        h6{
            text-transform: uppercase;
            font-weight: $bold;
            font-size: $font-size;
            color: $main-color
        }
        p{
            font-size: $font-size;
            margin-bottom: 0;
            word-break: break-all;
        }
    }
    #price{
        table{
            td{
                padding: .5rem;
                border: 2px solid #fff;
            }
            tr{
                &:nth-child(even){
                    background-color: #F2F2F2;
                }
                &:nth-child(odd){
                    background-color: #E9E9E9;
                }
            }
            .blue-cell{
                background-color: $second-color !important;
                color: #fff;
            }
        }
    }
    #includesOrNot{
        @include xs{
            .btn {
                font-size: .9rem;
            }
        }      
        .card-header{
            background-color: $second-color;
            margin-top: 1rem;
            transition: all .3s;
            padding: 0.35rem 1.25rem;
            cursor: pointer;
            @include xs{
                padding: .25rem 1rem;
            }
            &:hover{
                background-color: darken($second-color, 5%);
                transition: all .3s;
            }
            i{
                color: #fff;
                font-size: .8rem;
            }
            .btn{
                text-transform: uppercase;
                font-weight: $bold;
                color: #fff;
                text-decoration: none;
            }
        }
        #collapseObuhvata{
            li{
                margin-left: 1rem;
                padding-left: .6rem;
                margin-bottom: .3rem;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    position: absolute;
                    left: -14px;
                    top: -1px;
                    width: 7px;
                    color: #19A214;
                    height: 13px;
                    border-width: 0 2px 2px 0;
                    border-style: solid;
                    -webkit-transform-origin: bottom left;
                    transform-origin: bottom left;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
        #collapseNeObuhvata{
            li{
                margin-left: 1rem;
                padding-left: .6rem;
                margin-bottom: .3rem;
                position: relative;
                &::after, &::before {
                    content: "";
                    display: block;
                    box-sizing: border-box;
                    position: absolute;
                    width: 16px;
                    height: 2px;
                    background: $main-color;
                    transform: rotate(45deg);
                    border-radius: 5px;
                    top: 11px;
                    left: -16px;
                }
                &::after{
                    transform: rotate(-45deg)
                }
            }
        }
    }
    #price{
        .card-header{
            background-color: $second-color;
            margin-top: 1rem;
            transition: all .3s;
            cursor: pointer;
            @include xs{
                padding: .25rem 1rem;
            }
            &:hover{
                background-color: darken($second-color, 5%);
                transition: all .3s;
            }
            i{
                color: #fff;
                font-size: .8rem;
            }
            .btn{
                text-transform: uppercase;
                font-weight: $bold;
                color: #fff;
                text-decoration: none;
            }
        }
        
    }
    #warningAccordion{
        @include xs{
            .btn {
                font-size: .9rem;
            }
        } 
        .card-header{
            background-color: $main-color;
            margin-top: 1rem;
            transition: all .3s;
            border-bottom: none !important;
            cursor: pointer;
            @include xs{
                padding: .25rem 1rem;
            }
            @include z-125{
                padding: .25rem 1rem;
            }
            &:hover{
                background-color: darken($main-color, 5%);
                transition: all .3s;
            }
            i{
                color: #fff;
                font-size: .8rem;
            }
            .btn{
                text-transform: uppercase;
                font-weight: $bold;
                color: #fff;
                text-decoration: none;
            }
        }
        li{
            margin-left: 1rem;
            padding-left: .6rem;
            margin-bottom: .3rem;
            position: relative;
            &::after {
                content: "";
                display: block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                position: absolute;
                left: -14px;
                top: 7px;
                width: 10px;
                background-color: $main-color;
                height: 10px;
                border-radius: 20px;
            }
        }
    }
    /* #endregion Hotel tabs */ 

    /* #region Inquiry card */
    .inquiry-card{
        position: fixed;
        right: 15px;
        bottom: 85px;
        background-color: #fff;
        box-shadow: $main-shadow;
        width: 340px;
        min-height: 400px;
        z-index: 100;
        opacity: 0;
        visibility: visible;
        
        transform: scale(0);
        transition: opacity .3s;
        
        &.show{
            transform: scale(1);
            opacity: 1;
            visibility: visible;
            transition: opacity .3s;
        }
        .title{
            width: 100%;
            text-align: left;
            padding: .7rem;
            padding-left: 1.3rem;
            color: #fff;
            font-weight: $bold;
            background-color: $second-color;
        }
        .napomena-forma{
            padding: 0px 1.4rem;
            margin-bottom: 0;
        }
        .inquiry-form{
            padding: 1.4rem;
            padding-top: .7rem;
            p{
                margin-bottom: 0;
            }
            label{
                width: 100%;
                margin-bottom: 1rem;
            }
            input{
                width: 100%;
                padding: .7rem;
                background-color: $input-color;
                border: none;
            }
            input[type="submit"]{
                background-color: $main-color;
                color: #fff;
            }
            .chose-date{
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                span{
                    width: 47.5%;
                }
            }
        }
    }
    /* #endregion Inquiry card */

/* #endregion Template hotel ================== */ 

/* #region Template special =================== */ 

    /* #region Header image */
    .special-header-image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 520px;
        mask-image:url('../img/special-banner.svg');
        mask-size: cover;
        mask-position: top;
        display: flex;
        align-items: center;
        @include z-125{
            height: 460px;
        }
        @include xs{
            height: 370px;
            align-items: flex-start;
        }
        .container{
            @include xs{
                flex-flow: column-reverse;
                align-items: center;
                margin-top: 3rem;
            }
        }
        .title{
            @include xs{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            h1{
                font-weight: $bold;
                color: #fff;
                font-size: 3.5rem;
            }
            .star-rating{
                background-color: $main-color;
                width: fit-content;
                color: #fff;
                padding: .4rem .8rem;
                border-radius: $b-radius;
                i:last-child{
                    margin-right: 0 !important;
                }
            }
        }
    }
    /* #endregion Header image */

    /* #region Trip program */
    .program-sadrzaj{
        .day{
            display: flex;
            justify-content: center;
            padding-bottom: 3px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #d80e1c), color-stop(0%, rgba(255, 255, 255, 0)));
                background-image: linear-gradient(#d80e1c 33%, rgba(255, 255, 255, 0) 0%);
                background-position: right;
                background-size: 5px 14px;
                background-repeat: repeat-y;
                width: 5px;
                height: 100%;
                z-index: -1;
            }
            
            .number{
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $second-color;
                border-radius: 100px;
                flex-flow: column;
                span:first-child{
                    color: #fff !important;
                    font-size: 2rem;
                    font-weight: $bold;
                    margin-right: -8px;
                }
                span:last-child{
                    margin-top: -12px;
                    color: #fff;
                }
            }
        }
        &:last-child{
            .day{
                &::before{
                    background-image: none;
                }
            }
            
        }
        .content{
            padding: 1rem;
        }
    }
    
    /* #endregion Trip program */ 

/* #endregion Template special ================ */ 


/* #region Template contact us ================ */ 


    /* Map */
    .mapa-firme{
        iframe{
            width: 100%;
            height: 30vh;
            margin-bottom: -10px;
        }
    } 
    /* Contact us */
    #contact-us{
        padding-top: 60px;
        @include xs{
            padding-top: 30px;
        }
        .info{
            column-count: 2;
            padding-top: 51px;
            @include md{
                column-count: unset;
            }
            @include xs{
                column-count: unset;
                padding-top: 20px;
            }
        }
    }
    
    form{

        p{
            margin-bottom: 0;
        }
        label{
            width: 100%;
            margin-bottom: 1rem;
        }
        input,textarea{
            width: 100%;
            padding: .7rem;
            background-color: $input-color;
            border: none;
        }
        input[type="submit"]{
            background-color: $main-color;
            color: #fff;
        }
        .chose-date{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            span{
                width: 47.5%;
            }
        }
    } 

/* #endregion Template contact us ============= */ 


/* #region Single avio karte ================== */ 

    /* #region Letovi */
    .avio-karte{
        .logo-kompanije img{
            height: 50px;
            width: auto;
        }
        .let{
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            .od-do{
                margin-top: 1.5rem;
                display: flex;
                align-items: center;
                h2{
                    font-weight: $bold;
                }
                h4{
                    font-weight: $bold;
                }
            }
            .let-info{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: .5rem;
                box-shadow: 0px 0px 20px #f3f3f3;
                padding: 1rem 2rem;
                @include xs{
                    box-shadow: none;
                    padding: 1rem 0rem;
                }
            }
            .w-cena{
                min-width: 35px;
            }
        }
    }
    /* #endregion Letovi */

/* #endregion Single avio karte =============== */ 


/* #region First/Last minut Template ========== */

    /* #region Card */
    .minut-card{
        h5,h4,a,p{
            margin-bottom: 0;
        }
        h5,h4{
            font-weight: $bold;
        }
        del{
            font-size: $font-size;
            font-weight: $regular;
            color: lighten($black, 50%);
        }
        @include md{
            flex-flow: column;
            align-items: flex-start !important;
            margin-top: 1rem;
        }
    }
    /* #endregion Card */

/* #endregion First/Last minut Template ======= */

/* #region Search results Template ============ */

    /* #region Header */
    .rezultat-pretrage-header{
        height: 36vh !important;
        @include xs{
            height: 27vh !important;
        }
        .container{
            margin-top: 7rem !important;
        }
    }
    /* #endregion Header */ 

/* #endregion Search results Template ========= */







