/*
 Theme Name:   ITC Tourist Child
 Description:  ITC Tourist Child Theme
 Author:       ITCentar
 Author URI:   https://itcentar.rs
 Template:     itc-tourist
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  itc-tourist-child
*/
img {
    max-width: 100%;
}
/* Promo boxes style */
.ponude-grid {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-gap: 16px;
}
.ponude-grid.grid-style_1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "prvi prvi prvi prvi drugi drugi drugi treci treci treci"
    "cetvrti cetvrti peti peti drugi drugi drugi sesti sesti sesti";
}
.ponude-grid.grid-style_2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "prvi prvi prvi prvi drugi drugi drugi treci treci treci"
    "prvi prvi prvi prvi cetvrti cetvrti cetvrti peti peti peti";
}
.ponude-grid.grid-style_3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "prvi prvi prvi drugi drugi drugi drugi treci treci treci"
    "cetvrti cetvrti cetvrti drugi drugi drugi drugi peti peti peti";
}
.ponude-grid.grid-style_4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "prvi prvi prvi drugi drugi drugi treci treci treci treci"
    "cetvrti cetvrti cetvrti peti peti peti treci treci treci treci";
}
.ponude-grid.grid-style_5 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "prvi drugi treci"
    "cetvrti peti sesti";
}
.grid-1 {
    grid-area: prvi;
}
.grid-2 {
    grid-area: drugi;
}
.grid-3 {
    grid-area: treci;
}
.grid-4 {
    grid-area: cetvrti;
}
.grid-5 {
    grid-area: peti;
}
.grid-6 {
    grid-area: sesti;
}
.single-ponuda {
    height: 100%;
    position: relative;
}
.single-ponuda.label-top span.box-badge {
    position: absolute;
    left: 15px;
    top: 15px;
    background: #007bff;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
}
.single-ponuda.label-top span.box-promo-text {
    position: absolute;
    left: 15px;
    top: 50px;
    background: #d6b028;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
}
.single-ponuda.label-bottom span.box-badge {
    position: absolute;
    left: 15px;
    bottom: 50px;
    background: #007bff;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
}
.single-ponuda.label-bottom span.box-promo-text {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background: #d6b028;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
}
.object-fit-center {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* Navbar style */
header#masthead {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
ul.ubermenu-submenu {
    background: #fff !important;
}
.ubermenu-target-with-image.ubermenu-item-layout-image_below {
    height: 120px !important;
    position: relative !important;
    display: inline-block !important;
    width: 100% !important;
}
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target.ubermenu-target-with-image.ubermenu-item-layout-image_below {
    padding-top: 9px;
    padding-bottom: 5px;
    height: 100px !important;
}
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target.ubermenu-target-with-image.ubermenu-item-layout-image_below span.ubermenu-target-title {
    height: calc( 100% - 13px );
    top: 9px;
}
.ubermenu-target-with-image.ubermenu-item-layout-image_below img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100% !important;
    max-width: 100%;
    margin: 0 !important;
    border-radius: 10px !important;
    overflow: hidden;
}
.ubermenu-target-with-image.ubermenu-item-layout-image_below span.ubermenu-target-title {
    position: absolute;
    width: calc( 100% - 40px );
    height: calc( 100% - 30px );
    top: 15px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(19, 48, 107, 0.4);
    z-index: 9;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px !important;
    overflow: hidden;
}
.novi-red {
    clear: both;
}
/* Main content style */
main#content {
    padding-top: 80px;
}
/* Filter stylle */
.filter-wrapper {
    margin: 50px 0;
}
.filter-box {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.11);
    padding: 30px;
}
/* Homepage Tabs style */
.nav.nav-pills {
    background: #e1ebff;
    padding: 15px;
}
.single-destinacija-tab figure {
    height: 150px;
}
figure.ponuda-img-wrapper {
    position: relative;
    margin-bottom: 5px;
}
span.ponuda-badge {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #007bff;
    color: #fff;
    padding: 1px 8px;
    font-size: 13px;
    font-weight: bold;
}
span.ponuda-promo-text {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #d6b028;
    color: #fff;
    padding: 1px 8px;
    font-size: 13px;
    font-weight: bold;
}
.single-destinacija-tab h3 {
    margin-top: 0;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 20px;
}
/* Homepage offers */
.card {
    border: none;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.11);
}
.card-header {
    background-color: rgb(225, 235, 255);
    border-bottom: 1px solid rgb(0, 123, 255);
}
.card-header h4 {
    margin: 0;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgb(225, 235, 255);
    border-top: 1px solid rgb(0, 123, 255);
}
.card-footer button {
    width: 100%;
}
.description-promo-offer {
    padding: 10px 20px;
}
.single-promo-offer a {
    text-decoration: none;
    color: #222;
}
.single-promo-offer {
    font-size: 0.9em;
}
.single-promo-offer:hover {
    background: #e1ebff;
}
.single-promo-offer .cena.bold-cena,
.single-promo-offer .naziv {
    font-weight: bold;
    color: #007bff;
}
.cena.stara-cena {
    text-decoration: line-through;
}
.destinacije-wrapper .destinacije .posebno a {
    display: block;
}
@media only screen and (min-width: 1400px) {
    ul.ubermenu-nav>li.ubermenu-item-has-children>ul.ubermenu-submenu {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
}
@media only screen and (min-width: 1650px) {
    .container {
        max-width: 1600px;
    }
}
@media only screen and (max-width: 980px) {
    .ponude-grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "prvi cetvrti peti"
        "drugi treci sesti";
        grid-gap: 16px;
    }
}
@media only screen and (max-width: 580px) {
    .ponude-grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "prvi"
        "drugi"
        "treci"
        "cetvrti"
        "peti"
        "sesti";
        grid-gap: 16px;
    }
    .main-home-slider .content h2 span {
        color: #212529 !important;
        font-size: 2rem;
    }
    .main-home-slider .content p span {
        color: #212121 !important;
    }
    .banner-sm h3 {
        margin: 0;
    }
    .banner-sm h4 {
        font-size: 1.2rem !important;
        margin: 0;
    }
    .home-tabs-wrapper h3.tabs-section-title {
        font-size: 1.3rem;
        font-weight: bold;
    }
    .home-tabs-wrapper {
        margin-bottom: 15px;
    }
    .popular-destination .popular-title {
        font-size: 2rem;
    }
    .popular-destination .popular-subtitle {
        font-weight: 600;
        font-size: 1.2rem;
    }
    .popular-destination .popular-destination-slider .slider-item h3 {
        font-size: 1.1rem;
        margin: 0;
    }
    .popular-destination .popular-destination-slider .slider-item h2 {
        font-size: 1.7rem;
    }
    .destination-pack .destination-box .destination-title {
        font-size: 2rem;
        position: static;
    }
    .destination-pack .destination-box .destination-items {
        position: static;
        width: 100% !important;
        display: block !important;
    }
    .destination-pack .destination-box {
        height: auto;
    }
    .destination-pack .destination-box .destination-items .item {
        min-width: 100%;
        height: 110px;
        margin: 10px 0;
    }
    .destination-pack .mobile-margin-top:nth-last-child(1) {
        margin-top: 30px;
    }
    .destination-pack {
        margin-bottom: 2rem;
    }
    .primary-btn {
        justify-content: space-between;
    }
    footer h4 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .destinacije-wrapper .destinacije .posebno {
        min-width: initial;
    }
    .destinacije-wrapper .destinacije {
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        min-height: initial;
    }
    .destinacije-wrapper .destinacije .posebno h5 {
        padding: .3rem .5rem;
        font-size: 1rem;
        right: 0;
        bottom: -20px;
    }
    article.destinacije-wrapper h3.text-uppercase,
    .destinacije-wrapper-b h3.text-uppercase {
        font-size: 1.2rem;
    }
    .destinacije-wrapper .destinacije .posebno:last-child {
        margin-right: 0;
    }
    article.destinacije-wrapper.mb-5 {
        margin-bottom: 10px !important;
    }
    .social-footer {
        margin-bottom: 30px;
    }
    .destinacije-wrapper .destinacije .posebno a {
        display: block;
        position: relative;
    }
    div#expandable {
        padding: 20px 0;
    }
    #header-image .br-destinacija {
        padding: .3rem .5rem;
    }
    #header-image h1 {
        margin-top: 2.5rem;
        font-size: 2rem;
    }
    #header-image .title {
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .video-container .icon-container .icon-border .icon {
        width: 3rem;
        height: 3rem;
    }
    .video-container .icon-container .icon-border {
        width: 4rem;
        height: 4rem;
    }
    .video-container {
        cursor: pointer;
        width: 100%;
        justify-content: flex-start !important;
    }
    .owl-carousel.popular-destination-slider .owl-stage {
        padding-left: 0 !important;
    }
    .owl-carousel.popular-destination-slider .slider-item.temp-bg {
        border-radius: 4px;
    }
    .main-home-slider .subtitle {
        margin-bottom: 10px;
    }
    .white-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgb(6 26 71 / 41%) 0%, rgb(1 49 152 / 10%) 100%);
    }
    body.page-template.page-template-templates.page-template-template-vile .top-head-title {
        flex-direction: column-reverse;
    }
    .hotel-title {
        width: 100%;
    }
    .hotel-title h2 {
        font-size: 1.3em;
        margin-top: 10px;
    }
    .info-card {
        margin-top: 30px;
    }
}